<div class="dialog-split-header">
  <h2 mat-dialog-title>Kunde auswählen</h2>
  <button (click)="addNewCustomer()"
          class="dialog-split-header__menu-btn"
          mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
</div>

<form class="customer-search-form">
  <mat-form-field class="search-field">
    <mat-label>Suchen</mat-label>
    <input (ngModelChange)='searchFieldChangeSubject.next($event)'
           [(ngModel)]='searchFieldModel'
           matInput
           name="customerSearch"
           placeholder="Name eingeben"
    >
    <button (click)="clearSearchField()"
            *ngIf="searchFieldModel"
            aria-label="Clear"
            type="button"
            mat-button
            mat-icon-button
            matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>

<mat-dialog-content>
  <mat-action-list>
    <button (click)="selectCustomer(customer)"
            *ngFor="let customer of customers$ | async; trackBy: trackByFn"
            mat-list-item>
      <circle-with-letters [letters]="customer.initials" style="margin-right: 12px;"></circle-with-letters>
      <h3 matLine>{{customer.firstName}} {{customer.lastName}} {{customer.onFirstNameBasis ? '*' : ''}}</h3>
      <p matLine>{{customer.address}}</p>
      <p matLine>{{customer.postalCode}} {{customer.city}}</p>
    </button>
  </mat-action-list>
</mat-dialog-content>
