@use '~@angular/material' as mat;
@import '../../../../../../node_modules/@angular/material/theming';
@import "../../../../../styles";

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  background-color: mat.get-color-from-palette($koku-primary, 400);
  color: mat.get-color-from-palette($koku-primary, '400-contrast');

  &__title {
    text-align: center;
    margin: 16px;
    font-size: 3vw;
  }
  &__gauge {

    mwl-gauge {
      width: 100%;
      height: 100%;
      max-height: 400px;
      max-width: 400px;
    }

    ::ng-deep {
      mwl-gauge > .gauge > .dial {
        stroke: transparent;
        stroke-width: 2;
        fill: rgba(0, 0, 0, 0);
      }

      mwl-gauge > .gauge > .value {
        stroke: #fff;
        stroke-width: 2;
        fill: rgba(0, 0, 0, 0);
      }

      mwl-gauge > .gauge > .value-text {
        fill: #fff;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 1em;
      }
    }
  }
}
