<div *ngIf="!createMode && customerAppointment">
  <mat-menu #menu>
    <button (click)="delete(customerAppointment)" mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Löschen</span>
    </button>
    <button (click)="openCustomerDetails(customerAppointment.customer)"
            *ngIf="customerAppointment.customer"
            mat-menu-item
    >
      <mat-icon>info</mat-icon>
      <span>Kundeninformationen</span>
    </button>
  </mat-menu>
  <div class="dialog-split-header">
    <h2 mat-dialog-title>Kundentermin bearbeiten</h2>
    <button [matMenuTriggerFor]="menu"
            class="dialog-split-header__menu-btn"
            mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>
<h2 *ngIf="createMode" mat-dialog-title>Kundentermin anlegen</h2>
<mat-spinner *ngIf="!customerAppointment" class="spinner-center" diameter="30"></mat-spinner>
<form #form="ngForm"
      (ngSubmit)="save(customerAppointment, form)"
      class="customer-appointment-details-form"
>
  <mat-dialog-content *ngIf="customerAppointment"
                      fxLayout="row wrap">

    <mat-action-list fxFlex="100%">
      <mat-label>Kunde</mat-label>
      <button (click)="selectCustomer()" *ngIf="customerAppointment.customer" mat-list-item>
        <circle-with-letters [letters]="customerAppointment.customer.initials"></circle-with-letters>
        <h3
          matLine>{{ customerAppointment.customer.firstName }} {{ customerAppointment.customer.lastName }} {{ customerAppointment.customer.onFirstNameBasis ? '*' : '' }}</h3>
        <p matLine>{{ customerAppointment.customer.address }}</p>
        <p matLine>{{ customerAppointment.customer.postalCode }} {{ customerAppointment.customer.city }}</p>
        <mat-icon matListIcon matSuffix style="order: 10;">open_in_new</mat-icon>
      </button>

      <button (click)="selectCustomer()" *ngIf="!customerAppointment.customer" mat-list-item>
        <circle-with-letters [letters]="'?'"></circle-with-letters>
        <h3 matLine>Kunde auswählen</h3>
        <mat-icon matListIcon matSuffix style="order: 10;">open_in_new</mat-icon>
      </button>
    </mat-action-list>
    <mat-form-field class="customer-appointment-details-field startDate-field"
                    fxFlex.gt-md="50%">
      <mat-label>Datum</mat-label>
      <input [(ngModel)]="customerAppointment.startDate"
             matInput
             name="startDate"
             placeholder="Datum eingeben"
             required
             type="date">
    </mat-form-field>
    <mat-form-field class="customer-appointment-details-field startTime-field"
                    fxFlex.gt-md="50%">
      <mat-label>Uhrzeit</mat-label>
      <input [(ngModel)]="customerAppointment.startTime"
             matInput
             name="startTime"
             placeholder="Uhrzeit eingeben"
             required
             pattern="[0-9]{2}:[0-9]{2}"
             type="time">
    </mat-form-field>

    <mat-form-field class="activity-selection-field no-select">
      <mat-label>Tätigkeiten</mat-label>
      <mat-chip-list #customerAppointmentActivityList
                     aria-label="Tätigkeiten Auswahl"
                     class="activity-selection-chip-list"
                     cdkDropList
                     cdkDropListOrientation="horizontal"
                     (cdkDropListDropped)="moveItemInArray(customerAppointment.activities || [], $event)">
        <mat-chip (removed)="removeActivity(customerAppointmentActivity)"
                  *ngFor="let customerAppointmentActivity of customerAppointment.activities"
                  style="height: auto;"
                  class="activity-selection-chip-list__item"
                  (click)="customerAppointmentActivityClicked(customerAppointmentActivity)"
                  cdkDrag>
          {{ customerAppointmentActivity.activity?.description }}
          {{ customerAppointmentActivity.sellPrice !== undefined ? ' / ' + ((customerAppointmentActivity.sellPrice === 0) ? 'kostenlos' : customerAppointmentActivity.sellPrice + ' €') : '' }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          #customerAppointmentActivityInput
          [formControl]="customerAppointmentActivityCtrl"
          [matAutocomplete]="customerAppointmentActivityAutoComplete"
          [matChipInputFor]="customerAppointmentActivityList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          class="mat-chip-input"
          matAutocompletePosition="below"
          matInput
          placeholder="Weitere Tätigkeiten...">
      </mat-chip-list>
      <mat-autocomplete #customerAppointmentActivityAutoComplete="matAutocomplete"
                        (optionSelected)="selectedActivity($event)"
                        autoActiveFirstOption>
        <mat-option *ngFor="let activity of filteredActivities$ | async" [value]="activity">
          {{ activity.description }}
        </mat-option>
      </mat-autocomplete>
      <button (click)="addNewActivity(this.customerAppointmentActivityInput.value)"
              class="add-activity-btn"
              mat-button
              mat-icon-button
              matSuffix
              type="button">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>

    <mat-label class="estimated-revenue-label" fxFlex="100%">
      Erwartete Tätigkeitskosten: {{ getApproxActivityRevenue(customerAppointment.activities || []) }} €
      <div><small>(Stand: {{ now.format('DD.MM.YYYY HH:mm') }})</small></div>
    </mat-label>
    <mat-label class="estimated-revenue-label" fxFlex="100%">
      Erwartete Tätigkeitszeit: {{ getApproxDuration(customerAppointment.activities || []) }}
    </mat-label>

    <mat-form-field class="activity-sequence-selection-field no-select">
      <mat-label>Behandlungen</mat-label>
      <mat-chip-list #activitySequenceList
                     aria-label="Behandlung"
                     cdkDropList
                     cdkDropListOrientation="horizontal"
                     (cdkDropListDropped)="moveItemInArray(customerAppointment.activitySequenceItems || [], $event)"
      >
        <mat-chip (removed)="removeActivitySequenceItem(activitySequenceItem)"
                  *ngFor="let activitySequenceItem of customerAppointment.activitySequenceItems"
                  class="activity-sequence-chip-list__item"
                  [class.activity-sequence-chip-list__item--product]="activitySequenceItem['@type']==='ProductDto'"
                  [class.activity-sequence-chip-list__item--activity-step]="activitySequenceItem['@type']==='ActivityStepDto'"
                  style="height: auto;"
                  cdkDrag>
          <circle-with-letters *ngIf="activitySequenceItem['@type']==='ProductDto'"
                               [letters]="activitySequenceItem.manufacturer?.name?.trim()?.substring(0, 1)"
                               [small]="true"></circle-with-letters>
          <span style="margin: 0 0 0 2px;">{{ activitySequenceItem.description }}</span>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>

        <input
          #activitySequenceInput
          [formControl]="activitySequenceCtrl"
          [matAutocomplete]="activitySequenceAutoComplete"
          [matChipInputFor]="activitySequenceList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          class="mat-chip-input"
          matAutocompletePosition="below"
          matInput
          placeholder="Weitere Behandlungsschritte oder Produkte...">
      </mat-chip-list>
      <mat-autocomplete #activitySequenceAutoComplete="matAutocomplete"
                        (optionSelected)="selectedActivitySequence($event)"
                        autoActiveFirstOption>
        <mat-option *ngFor="let activitySequenceItem of filteredActivitySequenceItems$ | async"
                    [value]="activitySequenceItem">
          <circle-with-letters *ngIf="activitySequenceItem['@type']==='ProductDto'"
                               [letters]="activitySequenceItem.manufacturer?.name?.trim()?.substring(0, 1)"
                               [small]="true"
          ></circle-with-letters>
          <span style="margin: 0 0 0 2px;">{{ activitySequenceItem.description }}</span>
        </mat-option>
      </mat-autocomplete>

      <button [matMenuTriggerFor]="menu"
              class="add-activity-step-btn"
              mat-button
              mat-icon-button
              matSuffix
              type="button">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="addNewProductAsActivityStep(this.activitySequenceInput.value)"
                mat-menu-item>Produkt
        </button>
        <button (click)="addNewActivityStep(this.activitySequenceInput.value)"
                mat-menu-item>Behandlungsschritt
        </button>
      </mat-menu>
    </mat-form-field>

    <mat-form-field class="sold-product-selection-field no-select">
      <mat-label>Verkaufte Produkte</mat-label>
      <mat-chip-list #soldProductsList
                     aria-label="Verkaufte Produkte"
                     class="sold-products-chip-list"
                     cdkDropList
                     cdkDropListOrientation="horizontal"
                     (cdkDropListDropped)="moveItemInArray(customerAppointment.soldProducts || [], $event)">
        <mat-chip (removed)="removeSoldProduct(customerAppointmentSoldProduct)"
                  *ngFor="let customerAppointmentSoldProduct of customerAppointment.soldProducts"
                  class="sold-product-chip-list__item"
                  (click)="customerAppointmentSoldProductClicked(customerAppointmentSoldProduct)"
                  style="height: auto;"
                  cdkDrag>
          <circle-with-letters
            [letters]="customerAppointmentSoldProduct.product?.manufacturer?.name?.trim()?.substring(0, 1)"
            [small]="true"></circle-with-letters>
          <span style="margin: 0 0 0 2px;">
              {{ customerAppointmentSoldProduct.product?.description }}
            {{ customerAppointmentSoldProduct.sellPrice !== undefined ? ' / ' + ((customerAppointmentSoldProduct.sellPrice === 0) ? 'kostenlos' : customerAppointmentSoldProduct.sellPrice + ' €') : '' }}
            </span>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          #customerAppointmentSoldProductsInput
          [formControl]="customerAppointmentSoldProductsCtrl"
          [matAutocomplete]="soldProductsAutoComplete"
          [matChipInputFor]="soldProductsList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          class="mat-chip-input"
          matAutocompletePosition="below"
          matInput
          placeholder="Weitere verkaufte Produkte...">
      </mat-chip-list>

      <mat-autocomplete #soldProductsAutoComplete="matAutocomplete"
                        (optionSelected)="selectedSoldProduct($event)"
                        autoActiveFirstOption>
        <mat-option *ngFor="let product of filteredSoldProducts$ | async" [value]="product">
          <circle-with-letters [letters]="product.manufacturer?.name?.trim()?.substring(0, 1)"
                               [small]="true"></circle-with-letters>
          <span style="margin: 0 0 0 2px;">{{ product.description }}</span>
        </mat-option>
      </mat-autocomplete>

      <button (click)="addNewProductAsSoldProduct(this.customerAppointmentSoldProductsInput.value)"
              class="add-product-btn"
              mat-button
              mat-icon-button
              matSuffix
              type="button">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>

    <mat-label class="estimated-revenue-label">
      Erwartete Produkteinnahmen: {{ getApproxProductRevenue(customerAppointment.soldProducts || []) }} €
      <div><small>(Stand: {{ now.format('DD.MM.YYYY HH:mm') }})</small></div>
    </mat-label>

    <mat-form-field class="sold-product-selection-field no-select">
      <mat-label>Aktionen</mat-label>
      <mat-chip-list #promotionsList
                     aria-label="Aktionen"
                     class="promotions-chip-list"
                     cdkDropList
                     cdkDropListOrientation="horizontal"
                     (cdkDropListDropped)="moveItemInArray(customerAppointment.soldProducts || [], $event)">
        <mat-chip (removed)="removePromotion(promotion)"
                  *ngFor="let promotion of customerAppointment.promotions"
                  class="promotion-chip-list__item"
                  style="height: auto;"
                  cdkDrag>
          <span style="margin: 0 0 0 2px;">
              {{ promotion.name }}
            </span>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          #promotionsInput
          [formControl]="promotionsCtrl"
          [matAutocomplete]="promotionsAutoComplete"
          [matChipInputFor]="promotionsList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          class="mat-chip-input"
          matAutocompletePosition="below"
          matInput
          placeholder="Weitere Aktionen...">
      </mat-chip-list>

      <mat-autocomplete #promotionsAutoComplete="matAutocomplete"
                        (optionSelected)="selectedPromotion($event)"
                        autoActiveFirstOption>
        <mat-option *ngFor="let promotion of filteredPromotions$ | async" [value]="promotion">
          <span style="margin: 0 0 0 2px;">{{ promotion.name }}</span>
        </mat-option>
      </mat-autocomplete>

    </mat-form-field>

    <mat-form-field class="additional-info-field">
      <mat-label>Zusätzliche Informationen</mat-label>
      <textarea [(ngModel)]="customerAppointment.additionalInfo" cdkTextareaAutosize
                matInput
                name="additionalInfo"
                placeholder="Zusätzliche Informationen eingeben"
      ></textarea>
    </mat-form-field>

    <mat-action-list>
      <mat-label>Bedienung</mat-label>
      <button (click)="selectUser()" *ngIf="customerAppointment.user" mat-list-item>
        <user-avatar [user]="customerAppointment.user"></user-avatar>
        <h3 matLine>{{ customerAppointment.user.firstname }} {{ customerAppointment.user.lastname }}</h3>
        <mat-icon matListIcon matSuffix style="order: 10;">open_in_new</mat-icon>
      </button>

      <button (click)="selectUser()" *ngIf="!customerAppointment.user" mat-list-item>
        <circle-with-letters [letters]="'?'"></circle-with-letters>
        <h3 matLine>Nutzer auswählen</h3>
        <mat-icon matListIcon matSuffix style="order: 10;">open_in_new</mat-icon>
      </button>
    </mat-action-list>

  </mat-dialog-content>
  <mat-dialog-actions *ngIf="customerAppointment" align="end">
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button *ngIf="!createMode"
            [class.button-spinner]="saving"
            [disabled]="saving || form.invalid || !customerAppointment.customer || !customerAppointment.user"
            mat-button
            type="submit">
      Speichern
    </button>
    <button *ngIf="createMode"
            [class.button-spinner]="saving"
            [disabled]="saving || form.invalid || !customerAppointment.customer || !customerAppointment.user"
            mat-button
            type="submit">
      Erstellen
    </button>
  </mat-dialog-actions>
</form>
