@import "../../../styles";

.customer-appointment-details-field {
  width: 100%;
}

.activity-selection-field {
  width: 100%;
}

.sold-product-selection-field {
  width: 100%;
}

.additional-info-field {
  width: 100%;
}

.activity-sequence-selection-field {
  width: 100%;
}

.estimated-revenue-label {
  display: block;
  margin-bottom: 6px;
}
