@if (content(); as content) {
  @for (childId of runtime().childIds(content.id, outlets.CONTENT)(); track childId) {
    @if (runtime().contentSignal(childId)(); as child) {
      <div
        formular-content-renderer
        [content]="$any(child)"
        [runtime]="runtime()"
        [loading]="loading()"
        [submitting]="submitting()"
        [contentRegistry]="contentRegistry()"
        [buttonDockOutlet]="buttonDockOutlet()"
        placementOutlet="content"
        [context]="context()"
      ></div>
    }
  }
}
