<nav
  class="bg-base-100 text-base-content flex h-full min-h-0 w-80 flex-col overflow-y-auto overscroll-contain p-4"
  aria-label="Navigation"
>
  @if (topNavi(); as topNavi) {
    <ul class="menu w-full shrink-0 p-0">
      @for (currentNaviEntry of topNavi; track $index) {
        <li koku-navi-entry [naviEntry]="currentNaviEntry"></li>
      }
    </ul>
  }

  @if (bottomNavi(); as bottomNavi) {
    @if (bottomNavi.length > 0) {
      <ul class="menu mt-auto w-full shrink-0 p-0">
        @for (currentNaviEntry of bottomNavi; track $index) {
          <li koku-navi-entry [naviEntry]="currentNaviEntry"></li>
        }
      </ul>
    }
  }
</nav>
