<div class="page-skeleton">
  <div class="page-skeleton__scroll-area">
    <div class="panel-layout"
         fxFlexAlign="center center"
         fxLayout="row wrap"
    >
      <div *ngFor="let currentPanel of activatedRoute.routeConfig?.data?.panels || []"
           [fxFlex.lg]="currentPanel.lgWidthPercentage || currentPanel.mdWidthPercentage || currentPanel.smWidthPercentage || currentPanel.xsWidthPercentage || currentPanel.widthPercentage"
           [fxFlex.md]="currentPanel.mdWidthPercentage || currentPanel.smWidthPercentage || currentPanel.xsWidthPercentage || currentPanel.widthPercentage"
           [fxFlex.sm]="currentPanel.smWidthPercentage || currentPanel.xsWidthPercentage || currentPanel.widthPercentage"
           [fxFlex.xl]="currentPanel.xlWidthPercentage || currentPanel.lgWidthPercentage || currentPanel.mdWidthPercentage || currentPanel.smWidthPercentage || currentPanel.xsWidthPercentage || currentPanel.widthPercentage"
           [fxFlex.xs]="currentPanel.xsWidthPercentage || currentPanel.widthPercentage"
           [fxFlex]="currentPanel.widthPercentage"
           class="panel-layout__item"
      >
        <div
          class="panel-layout__item__inner">
          <chart-panel *ngIf="currentPanel.component === 'ChartPanelComponent'"
                       [sourceUrl]="currentPanel.data.sourceUrl">
          </chart-panel>
          <gauge-panel *ngIf="currentPanel.component === 'GaugePanelComponent'"
                       [sourceUrl]="currentPanel.data.sourceUrl">
          </gauge-panel>
          <text-panel *ngIf="currentPanel.component === 'TextPanelComponent'"
                      [sourceUrl]="currentPanel.data.sourceUrl">
          </text-panel>
        </div>
      </div>
    </div>
  </div>
</div>
