@if (content(); as content) {
  @if (contentSetup().buttonRegistry[content['@type']]; as buttonComponent) {
    @if (content.id) {
      @if (enableDockedOutput()) {
        <ng-template koku-portal [portalOutlet]="buttonDockOutlet()" [append]="true">
          <ng-container
            [ngComponentOutlet]="buttonComponent.componentType"
            [ndcDynamicInputs]="{
              loading: isButtonLoading(content.id),
              disabled: isButtonDisabled(content.id),
            }"
            [ngComponentOutletNdcDynamicInputs]="inputBindings()"
            [ngComponentOutletNdcDynamicOutputs]="outputBindings()"
          />
        </ng-template>
      } @else {
        <ng-container
          [ngComponentOutlet]="buttonComponent.componentType"
          [ndcDynamicInputs]="{
            loading: isButtonLoading(content.id),
            disabled: isButtonDisabled(content.id),
          }"
          [ngComponentOutletNdcDynamicInputs]="inputBindings()"
          [ngComponentOutletNdcDynamicOutputs]="outputBindings()"
        />
      }
    }
  }
}
