services:
  koku-frontend:
    container_name: koku-frontend
    build:
      context: koku-frontend/
      dockerfile: Dockerfile
    image: docker.io/domschmidt/koku-frontend:latest
    restart: unless-stopped
    ports:
      - "80:80"
    environment:
      - KEYCLOAK_URL=http://192.168.178.36:8080
      - KEYCLOAK_REALM=master
      - KEYCLOAK_CLIENT_ID=koku

  koku-db:
    image: 'postgres:17.6'
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=koku
    ports:
      - "5432:5432"
    expose:
      - 5432

  db-init:
    image: 'postgres:17.6'
    depends_on:
      - koku-db
    environment:
      PGPASSWORD: koku
    command:
      - /bin/bash
      - -c
      - |
        until pg_isready -h koku-db -U postgres -d postgres; do
          echo "Waiting for Postgres..."
          sleep 2
        done
  
        psql -h koku-db -U postgres -d postgres -c "CREATE DATABASE users"
        psql -h koku-db -U postgres -d postgres -c "CREATE DATABASE promotions"
        psql -h koku-db -U postgres -d postgres -c "CREATE DATABASE activities"
        psql -h koku-db -U postgres -d postgres -c "CREATE DATABASE customers"
        psql -h koku-db -U postgres -d postgres -c "CREATE DATABASE products"
        psql -h koku-db -U postgres -d postgres -c "CREATE DATABASE documents"
        psql -h koku-db -U postgres -d postgres -c "CREATE DATABASE files"

  koku-users:
    container_name: koku-users
    image: docker.io/domschmidt/koku-users:latest
    restart: unless-stopped
    healthcheck:
      test: "curl --fail localhost:8420/actuator/health | grep UP || exit 1"
      interval: 10s
      timeout: 3s
      retries: 3
    expose:
      - 8420
    depends_on:
      - koku-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://koku-db:5432/users
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=koku
      - KAFKA_BOOTSTRAP-SERVER=kafka:9094
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI=http://192.168.178.36:8080/realms/master

  koku-customers:
    container_name: koku-customers
    image: docker.io/domschmidt/koku-customers:latest
    restart: unless-stopped
    healthcheck:
      test: "curl --fail localhost:8320/actuator/health | grep UP || exit 1"
      interval: 10s
      timeout: 3s
      retries: 3
    expose:
      - 8320
    depends_on:
      - koku-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://koku-db:5432/customers
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=koku
      - KAFKA_BOOTSTRAP-SERVER=kafka:9094
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI=http://192.168.178.36:8080/realms/master

  koku-promotions:
    container_name: koku-promotions
    image: docker.io/domschmidt/koku-promotions:latest
    restart: unless-stopped
    healthcheck:
      test: "curl --fail localhost:8520/actuator/health | grep UP || exit 1"
      interval: 10s
      timeout: 3s
      retries: 3
    expose:
      - 8520
    depends_on:
      - koku-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://koku-db:5432/promotions
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=koku
      - KAFKA_BOOTSTRAP-SERVER=kafka:9094
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI=http://192.168.178.36:8080/realms/master

  koku-documents:
    container_name: koku-documents
    image: docker.io/domschmidt/koku-documents:latest
    restart: unless-stopped
    healthcheck:
      test: "curl --fail localhost:8720/actuator/health | grep UP || exit 1"
      interval: 10s
      timeout: 3s
      retries: 3
    expose:
      - 8720
    depends_on:
      - koku-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://koku-db:5432/documents
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=koku
      - KAFKA_BOOTSTRAP-SERVER=kafka:9094
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI=http://192.168.178.36:8080/realms/master

  koku-activities:
    container_name: koku-activities
    image: docker.io/domschmidt/koku-activities:latest
    restart: unless-stopped
    healthcheck:
      test: "curl --fail localhost:8620/actuator/health | grep UP || exit 1"
      interval: 10s
      timeout: 3s
      retries: 3
    expose:
      - 8620
    depends_on:
      - koku-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://koku-db:5432/activities
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=koku
      - KAFKA_BOOTSTRAP-SERVER=kafka:9094
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI=http://192.168.178.36:8080/realms/master

  koku-products:
    container_name: koku-products
    image: docker.io/domschmidt/koku-products:latest
    restart: unless-stopped
    healthcheck:
      test: "curl --fail localhost:9320/actuator/health | grep UP || exit 1"
      interval: 10s
      timeout: 3s
      retries: 3
    expose:
      - 9320
    depends_on:
      - koku-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://koku-db:5432/products
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=koku
      - KAFKA_BOOTSTRAP-SERVER=kafka:9094
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI=http://192.168.178.36:8080/realms/master

  koku-files:
    container_name: koku-files
    image: docker.io/domschmidt/koku-files:latest
    restart: unless-stopped
    healthcheck:
      test: "curl --fail localhost:8020/actuator/health | grep UP || exit 1"
      interval: 10s
      timeout: 3s
      retries: 3
    expose:
      - 8020
    depends_on:
      - koku-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://koku-db:5432/files
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=koku
      - KAFKA_BOOTSTRAP-SERVER=kafka:9094
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI=http://192.168.178.36:8080/realms/master

  koku-carddav:
    container_name: koku-carddav
    image: docker.io/domschmidt/koku-carddav:latest
    restart: unless-stopped
    healthcheck:
      test: "curl --fail localhost:8220/actuator/health | grep UP || exit 1"
      interval: 10s
      timeout: 3s
      retries: 3
    expose:
      - 8220
    environment:
      - KAFKA_BOOTSTRAP-SERVER=kafka:9094
      - CARDDAV_USERNAME=koku
      - CARDDAV_PASSWORD=koku

  kafka:
    image: docker.io/bitnami/kafka:4.0.0
    restart: unless-stopped
    ports:
      - "9094:9094"
    expose:
      - "9094"
    environment:
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092,EXTERNAL://kafka:9094
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@127.0.0.1:9093
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_NODE_ID=1
      - BITNAMI_DEBUG=yes
      - KAFKA_CFG_NUM_PARTITIONS=3
    volumes:
      - "../kafka_data:/bitnami"

  init-kafka:
    image: docker.io/bitnami/kafka:4.0.0
    depends_on:
      - kafka
    entrypoint: [ '/bin/sh', '-c' ]
    command: |
      "
      # blocks until kafka is reachable
      ./opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9094 --list
      echo -e 'Creating kafka topics'
      ./opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9094 --create --if-not-exists --topic customers --config cleanup.policy=compact
      ./opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9094 --create --if-not-exists --topic promotions --config cleanup.policy=compact
      ./opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9094 --create --if-not-exists --topic products --config cleanup.policy=compact
      ./opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9094 --create --if-not-exists --topic productmanufacturers --config cleanup.policy=compact
      ./opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9094 --create --if-not-exists --topic customerappointments --config cleanup.policy=compact
      ./opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9094 --create --if-not-exists --topic users --config cleanup.policy=compact
      ./opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9094 --create --if-not-exists --topic activities --config cleanup.policy=compact
      ./opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9094 --create --if-not-exists --topic activitysteps --config cleanup.policy=compact

      echo -e 'Successfully created the following topics:'
      ./opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9094 --list
      "

  idm:
    image: quay.io/keycloak/keycloak:26.4
    restart: unless-stopped
    command:
      - start-dev
    environment:
      - KEYCLOAK_ADMIN=keycloak
      - KEYCLOAK_ADMIN_PASSWORD=koku
    ports:
      - "8080:8080"

volumes:
  kafka_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: './kafka_data'
