.app-skeleton {
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0); // fix for safari (ios)
}

.nav-drawer {
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__list {
      overflow: auto; padding: 0;
    }

    &__spacer {
      flex: 1 1 auto;
    }

    &__user-profile-card {
      cursor: pointer;
      box-shadow: none;
      padding: 8px 16px;
      display: flex;
      justify-content: flex-start;

      &:focus {
        outline: none;
      }

      &__content {
        display: flex;
        align-items: center;

        &__profile-avatar {
          margin-right: 16px;
        }

        &__profile-name {
          margin: 0;
        }
      }
    }
  }
}
