<div fxLayout fxLayoutAlign="center center" class="login-page__content">
  <div fxFlex.xl="33.33333333%"
       fxFlex.lg="50%"
       fxFlex.md="50%"
       fxFlex.xs="100%"
       fxFlex="100%"
       style="padding: 14px;"
  >
    <form #loginForm="ngForm"
          id="login-form"
          (keydown.enter)="login(username,password)"
          (submit)="login(username, password)">
      <mat-card>
        <img [src]="'assets/logo/koku_logo.svg'"
             alt=""
             class="login-page__content__logo">
        <mat-card-content>
          <mat-form-field class="login-page__content__field login-page__content__field--username"
                          floatLabel="always">
            <mat-label>Nutzername</mat-label>
            <input matInput
                   autocomplete="username"
                   id="login-form__username-input"
                   #username>
          </mat-form-field>
          <mat-form-field class="login-page__content__field login-page__content__field--password"
                          floatLabel="always">
            <mat-label>Passwort</mat-label>
            <input matInput
                   autocomplete="current-password"
                   type="password"
                   id="login-form__password-input"
                   #password>
          </mat-form-field>
          <button mat-raised-button
                  color="primary"
                  class="login-page__content__login-btn"
                  [disabled]="loginForm.invalid || loading"
                  [class.button-spinner]="loading"
                  title="Anmelden"
                  type="submit"
                  id="login-form__submit-btn"
          >
            Login
          </button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
