.dashboard-panel:not(:first-of-type) {
  margin: 10px 0 0;
}

.dashboard-panel {
  background-color: #fafafa;
}

.dashboard {
  margin: 0 auto;

  &__column {

    &__content {
      margin: 10px;
      padding: 10px;
      background-color: #ffffff;
      border-radius: 10px;

      &__headline {
        margin: 0 0 10px;
        text-align: center;
      }

      &__panel {
        padding: 10px;
      }
    }
  }
}
