<div class="@container">
  @if (content(); as content) {
    <div
      class="grid
              grid-cols-{{ content.cols }}
              @sm:grid-cols-{{ content.sm }}
              @md:grid-cols-{{ content.md }}
              @lg:grid-cols-{{ content.lg }}
              @xl:grid-cols-{{ content.xl }}
              @2xl:grid-cols-{{ content.xl2 }}
              @3xl:grid-cols-{{ content.xl3 }}
              @4xl:grid-cols-{{ content.xl4 }}
              @5xl:grid-cols-{{ content.xl5 }}
              gap-2
              m-auto
"
      [style.max-width.px]="content.maxWidthInPx"
    >
      @for (child of content.content || []; track child.id) {
        @if (child.id) {
          <div dashboard-content-renderer [contentRegistry]="contentRegistry()" [content]="$any(child)"></div>
        }
      }
    </div>
  }
</div>
