@use '@angular/material' as mat;
@import '../../../node_modules/@angular/material/theming';
@import "../../styles";

.navigation-entry {
  &--active {
    color: mat.get-color-from-palette($koku-primary, 400) !important;

    &.navigation-entry--leaf {
      background-color: mat.get-color-from-palette($koku-primary, 50) !important;
    }
  }

  &--leaf {
  }

  &--node {
    cursor: none;
    pointer-events: none;
  }

  &--depth-0 {
    padding-left: env(safe-area-inset-left);
    max-width: calc(100% - env(safe-area-inset-left));
  }

  &--depth-1 {
    padding-left: calc(30px + env(safe-area-inset-left));
    max-width: calc(100% - 30px - env(safe-area-inset-left));
  }

  &--depth-2 {
    padding-left: calc(60px + env(safe-area-inset-left));
    max-width: calc(100% - 60px - env(safe-area-inset-left));
  }

  &--depth-3 {
    padding-left: calc(90px + env(safe-area-inset-left));
    max-width: calc(100% - 90px - env(safe-area-inset-left));
  }
}
