<div *ngIf="!createMode && user">
  <mat-menu #menu>
    <button (click)="delete(user)" mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Löschen</span>
    </button>
  </mat-menu>
  <div class="dialog-split-header">
    <h2 mat-dialog-title>Nutzer bearbeiten</h2>
    <button [matMenuTriggerFor]="menu"
            class="dialog-split-header__menu-btn"
            mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>
<h2 *ngIf="createMode" mat-dialog-title>Nutzer anlegen</h2>
<mat-spinner *ngIf="!user" class="spinner-center" diameter="30"></mat-spinner>
<form #profileForm="ngForm"
      (keydown.enter)="save(user, profileForm)"
      (submit)="save(user, profileForm)"
      *ngIf="user">
  <mat-dialog-content *ngIf="user">

    <user-info [userDetails]="user"></user-info>

  </mat-dialog-content>
  <mat-dialog-actions *ngIf="user" align="end">
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button *ngIf="!createMode"
            [class.button-spinner]="saving"
            [disabled]="saving || profileForm.invalid"
            mat-button
            type="submit">
      Speichern
    </button>
    <button *ngIf="createMode"
            [class.button-spinner]="saving"
            [disabled]="saving || profileForm.invalid"
            mat-button
            type="submit">
      Erstellen
    </button>
  </mat-dialog-actions>

</form>
