<div class="flex flex-col overflow-auto h-full">
  <koku-dock [content]="dockConfig()" (activationRequested)="onDockContentActivationRequested($event)">
    <div class="flex-1"></div>
    @if (activeContent(); as activeContent) {
      @if (activeContent.content; as activeContentContent) {
        <div
          business-rules-content
          [content]="activeContentContent"
          [contentSetup]="contentSetup()"
          [urlSegments]="urlSegments()"
          [buttonDockOutlet]="buttonDockOutlet()"
          [parentRoutePath]="activeContent.parentRoutePath || ''"
          (closeRequested)="closeInlineContent()"
          (openRoutedContentRequested)="openRoutedContent($event)"
          class="flex overflow-auto"
        ></div>
      }
    }
  </koku-dock>
</div>
