<div class="flex flex-col overflow-auto h-full">
  <div class="flex items-center justify-between min-h-14 bg-neutral w-full shrink-0 py-2 px-4 shadow-md">
    <div class="flex items-center justify-between gap-2 w-full">
      <div class="text-base font-semibold">
        {{ loadedTitle() || title() }}
      </div>
      <div class="flex gap-2">
        <ng-container koku-outlet #buttonDockOutlet="koku-outlet"></ng-container>
        <button class="btn btn-circle btn-ghost" (click)="closeInlineContent()" type="button">
          <koku-icon name="CLOSE" />
        </button>
      </div>
    </div>
  </div>

  @if (content().content; as content) {
    <div
      calendar-inline-content
      [content]="content"
      [contentSetup]="contentSetup()"
      [urlSegments]="urlSegments()"
      [buttonDockOutlet]="buttonDockOutlet"
      [parentRoutePath]="parentRoutePath()"
      (onClose)="closeInlineContent()"
      (onOpenRoutedContent)="openRoutedContent($event)"
      class="flex overflow-auto relative"
    ></div>
  }
</div>
