<div *ngIf="data.activity">
  <div class="dialog-split-header">
    <h2 mat-dialog-title>Tätigkeitspreis bearbeiten</h2>
  </div>
</div>
<form #form="ngForm" (ngSubmit)="save(data.activity, form)" class="customer-details-form" *ngIf="data.activity">
  <mat-dialog-content class="activities-form">
    <mat-checkbox class="activity-take-usual-price-field"
                  (change)="toggleTakeUsualPrice()"
                  [ngModel]="takeUsualPrice"
                  name="takeUsualActivityPrice">
      üblichen Tätigkeitspreis verwenden ({{data.activity.activity?.currentPrice}} €)
    </mat-checkbox>
    <mat-form-field class="activity-revenue-field" *ngIf="!takeUsualPrice">
      <mat-label>Tätigkeitspreis</mat-label>
      <input [(ngModel)]="data.activity.sellPrice"
             [formControl]="priceCtl"
             inputmode="decimal"
             matInput
             name="price"
             placeholder="Preis eingeben"
             step="0.01"
             min="0"
             type="number">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions *ngIf="data.activity" align="end">
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button [disabled]="form.invalid || priceCtl.invalid"
            mat-button
            type="submit">
      Speichern
    </button>
  </mat-dialog-actions>

</form>
