<div *ngIf="config" class="table-panel">
  <h4 *ngIf="config.label" class="table-panel__headline">{{config.label}}</h4>

  <table [dataSource]="config.rows || []"
         class="table-panel__table"
         mat-table>

    <ng-container *ngFor="let currentColumn of config.columns; let colIdx = index"
                  [matColumnDef]="currentColumn.label || ''">
      <th *matHeaderCellDef mat-header-cell>{{currentColumn.label}}</th>
      <td *matCellDef="let element" mat-cell> {{element.cells[colIdx].value}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>
