<ng-template #tableActionsContainer let-options>
  <button (click)="captureQRCodeAndTriggerSearch()"
          class="table-action"
          color="primary"
          mat-mini-fab
          title="Suche über einen QR Code"
  >
    <mat-icon>qr_code</mat-icon>
  </button>
  <button (click)="$event.stopPropagation(); createFile()"
          color="primary"
          class="table-action"
          mat-mini-fab
          type="button">
    <mat-icon svgIcon="file_document_edit_outline" class="custom-svg-icon"></mat-icon>
  </button>
</ng-template>

<ng-template #tableRowActionsContainer let-element>
  <div class="actions-column">
    <button (click)="$event.stopPropagation(); openDocument(element)"
            color="primary"
            mat-icon-button
            type="button">
      <mat-icon>info</mat-icon>
    </button>
    <button (click)="$event.stopPropagation(); deleteDocument(element)"
            [class.button-spinner]="prepareDeleteForElements[element.uuid]"
            [disabled]="prepareDeleteForElements[element.uuid]"
            *ngIf="!element.deleted"
            color="primary"
            mat-icon-button
            type="button">
      <mat-icon *ngIf="!prepareDeleteForElements[element.uuid]">delete</mat-icon>
    </button>
  </div>
</ng-template>

<data-table
  [endpoint]="'/backend/files/table'"
  [tableRowActionsContainer]="tableRowActionsContainer"
  [tableActionsContainer]="tableActionsContainer"
  [reloadSubject]="reloadTableSubject"
  [hideHeadline]="true"
  [pageSizeOptions]="[20, 250, 1000]"
  [defaultPageSize]="20"
></data-table>
