<h4>Verfügbare Dokumentenvorlagen</h4>

<data-table [endpoint]="'/api/documents/context/' + data.dynamicDocumentContext"
            [hideHeadline]="true"
            [selectMode]="'SINGLE'"
            [hideGlobalSearch]="true"
            (rowSelected)="documentSelected($event)"
></data-table>

<ngx-file-drop (onFileDrop)="dropped($event)"
               contentClassName="content-zone"
               dropZoneClassName="drop-zone">
  <ng-template let-openFileSelector="openFileSelector" ngx-file-drop-content-tmp>
    <div>Drag and Drop</div>
    <div class="content-zone__separator">oder</div>
    <button (click)="openFileSelector()"
            class="content-zone__file-select-btn"
            color="primary"
            mat-raised-button
            type="button">
      Datei auswählen
    </button>
  </ng-template>
</ngx-file-drop>

<mat-chip-list class="uploads-section">
  <a (click)="download(upload)" *ngFor="let upload of uploads"
     [color]="upload.errorStatusText ? 'warn' : 'primary'"
     class="uploads-section__item"
     mat-chip
     selected
  >
    {{upload.fileName}}
    {{upload.creationDate ? '(' + upload.creationDate + ')' : ''}}
    <span class="flex: 1">
      </span>
    <mat-progress-spinner
      *ngIf="upload.progress !== undefined"
      [mode]="upload.progress > 0 ? 'determinate' : 'indeterminate'"
      [value]="upload.progress"
      color="accent"
      diameter="20"
    >
    </mat-progress-spinner>
  </a>
</mat-chip-list>
