:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.document__row {
  &__item {
    display: flex;

    &--align-top {
      align-items: start;
    }

    &--align-center {
      align-items: center;
    }

    &--align-bottom {
      align-items: end;
    }
  }
}
