<div fxLayout="row wrap"
     *ngFor="let row of document.rows"
     class="document__row">

  <div *ngFor="let formField of row.items"
       [fxFlex.xl]="getFxFlex(formField.xl || formField.lg || formField.md || formField.sm || formField.xs || 12)"
       [fxFlex.lg]="getFxFlex(formField.lg || formField.md || formField.sm || formField.xs || 12)"
       [fxFlex.md]="getFxFlex(formField.md || formField.sm || formField.xs || 12)"
       [fxFlex.sm]="getFxFlex(formField.sm || formField.xs || 12)"
       [fxFlex.xs]="getFxFlex(formField.xs || 12)"
       class="document__row__item"
       [class.document__row__item--align-top]="row.align === 'TOP'"
       [class.document__row__item--align-center]="row.align === 'CENTER'"
       [class.document__row__item--align-bottom]="row.align === 'BOTTOM'"
  >
    <ng-template fieldHost
                 [componentType]="documentConfig.fields[formField['@type']].renderComponent"
                 [componentData]="formField"
                 [viewMode]="'CAPTURE'"
    ></ng-template>
  </div>
</div>
