<button mat-button
        [matMenuTriggerFor]="menu">
  {{label}}: {{formattedValue}}
  <mat-icon inline>keyboard_arrow_down</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <div mat-menu-item disableRipple>
    <mat-form-field (click)="$event.stopPropagation();">
      <mat-label>{{label}}</mat-label>
      <input matInput
             [matDatepicker]="dp"
             [formControl]="date"
             (change)="userTypedValue()"
             (blur)="onTouchedCallback()"
      >
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      startView="multi-year"
                      (yearSelected)="chosenYearHandler($event)"
                      (monthSelected)="chosenMonthHandler($event, dp)"
                      (closed)="userTypedValue()">
      </mat-datepicker>
    </mat-form-field>
  </div>
</mat-menu>
