<button
  class="btn"
  [class.btn-neutral]="indexedStyles().has('NEUTRAL')"
  [class.btn-primary]="indexedStyles().has('PRIMARY')"
  [class.btn-secondary]="indexedStyles().has('SECONDARY')"
  [class.btn-accent]="indexedStyles().has('ACCENT')"
  [class.btn-info]="indexedStyles().has('INFO')"
  [class.btn-success]="indexedStyles().has('SUCCESS')"
  [class.btn-warning]="indexedStyles().has('WARNING')"
  [class.btn-error]="indexedStyles().has('ERROR')"
  [class.btn-outline]="indexedStyles().has('OUTLINE')"
  [class.btn-dash]="indexedStyles().has('DASH')"
  [class.btn-soft]="indexedStyles().has('SOFT')"
  [class.btn-ghost]="indexedStyles().has('GHOST')"
  [class.btn-link]="indexedStyles().has('LINK')"
  [class.btn-active]="indexedStyles().has('ACTIVE')"
  [class.btn-disabled]="indexedStyles().has('DISABLED')"
  [class.btn-xs]="size() === 'XS'"
  [class.btn-sm]="size() === 'SM'"
  [class.btn-md]="size() === 'MD'"
  [class.btn-lg]="size() === 'LG'"
  [class.btn-xl]="size() === 'XL'"
  [class.btn-wide]="indexedStyles().has('WIDE')"
  [class.btn-block]="indexedStyles().has('BLOCK')"
  [class.btn-square]="indexedStyles().has('SQUARE')"
  [class.btn-circle]="indexedStyles().has('CIRCLE')"
  [class.h-full]="join()"
  [title]="title() || ''"
  (click)="onClickRaw($event)"
  (blur)="onBlur.emit($event)"
  (focus)="onFocus.emit($event)"
  [disabled]="disabled()"
  [class.skeleton]="loading()"
  [class.join-item]="join()"
  type="button"
>
  @if (icon(); as icon) {
    <koku-icon [name]="icon"></koku-icon>
  }
  {{ !indexedStyles().has('CIRCLE') ? text() : '' }}
</button>
