<div class="page-skeleton">
  <div class="page-skeleton__scroll-area">

    <h1 style="margin: 16px 16px 0;" *ngIf="(appointmentGroups$ | async)?.length">Meine Termine</h1>
    <ng-container *ngFor="let appointmentGroup of appointmentGroups$ | async; trackBy: trackByAppointmentGroup">
      <h3 style="margin: 16px 16px 0;">
        {{ appointmentGroup.date | amParse: 'YYYY-MM-DD' | amCalendar:calendarOptions }}
      </h3>
      <mat-action-list *ngFor="let appointment of appointmentGroup.appointments; trackBy: trackByCustomerAppointment"
                       (click)="openCustomerAppointmentDetails(appointment)">
        <button mat-list-item>
          <circle-with-letters [letters]="appointment.customer?.initials"
                               style="margin-right: 12px;"></circle-with-letters>
          <h3 matLine>{{appointment.startTime | amParse:'HH:mm:ss' | amDateFormat:'HH:mm'}} Uhr&nbsp;
            <span class="mat-small">
          ({{appointment.startDate + 'T' + appointment.startTime | amParse: 'YYYY-MM-DDTHH:mm:ss' | amTimeAgo}})
        </span>
          </h3>
          <h3
            matLine>{{appointment.customer?.firstName}} {{appointment.customer?.lastName}} {{appointment.customer?.onFirstNameBasis ? '*' : ''}}</h3>
          <div mat-line>
        <span
          *ngFor="let activity of appointment.activities; let last = last">{{activity.activity?.description}}{{last ? '' : ', '}}</span>
          </div>
        </button>
      </mat-action-list>
    </ng-container>
  </div>

  <div class="fab-button-container">
    <button (click)="addNewAppointment();"
            aria-label="Neuer Kundentermin hinzufügen"
            color="primary"
            mat-fab
            class="fab-button"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
