<div class="flex flex-col w-full relative">
  @if (content(); as content) {
    @if (contentSetup().inlineContentRegistry[content['@type']]; as inlineContentRegistration) {
      <ndc-dynamic
        [ndcDynamicComponent]="inlineContentRegistration.componentType"
        [ndcDynamicInputs]="{}"
        [ngComponentOutletNdcDynamicInputs]="
          inlineContentRegistration.inputBindings ? inlineContentRegistration.inputBindings(this, content) : {}
        "
        [ngComponentOutletNdcDynamicOutputs]="
          inlineContentRegistration.outputBindings ? inlineContentRegistration.outputBindings(this, content) : {}
        "
      ></ndc-dynamic>
    }
  }
</div>
