@if (register(); as register) {
  @for (action of register.actions || []; track $index) {
    @if (contentSetup().actionRegistry[action['@type']]; as registeredAction) {
      <ndc-dynamic
        [ndcDynamicComponent]="registeredAction.componentType"
        [ndcDynamicInputs]="{
          value: action,
          register: register,
        }"
        [ngComponentOutletNdcDynamicInputs]="
          registeredAction.inputBindings ? registeredAction.inputBindings(this, action) : {}
        "
        [ngComponentOutletNdcDynamicOutputs]="
          registeredAction.outputBindings ? registeredAction.outputBindings(this, action) : {}
        "
      ></ndc-dynamic>
    }
  }
}
