@for (modal of modalService.renderedModals(); track modal.uid; let stackIndex = $index) {
  <dialog class="modal modal-open" open [style.z-index]="stackIndex">
    <div
      class="modal-box"
      [class.h-full]="modal.fullscreen"
      [class.w-full]="modal.fullscreen"
      [class.max-md:rounded-none]="modal.fullscreen"
      [class.max-md:max-w-none]="modal.fullscreen"
      [class.max-md:max-h-screen]="modal.fullscreen"
      [class.min-md:max-h-[calc(100vh-96px)]]="modal.fullscreen"
      [class.min-md:max-w-[calc(100vw-96px)]]="modal.fullscreen"
      [class.p-0]="modal.fullscreen"
      [style.max-width.px]="modal.maxWidthInPx"
    >
      @if (modal.headline) {
        <h3 class="text-lg font-bold">{{ modal.headline }}</h3>
      }
      @if (modal.dynamicContent; as dynamicContent) {
        <modal-content-renderer [instance]="this" [modal]="modal" [content]="dynamicContent" />
      } @else if (modal.content) {
        <p class="py-4">{{ modal.content }}</p>
      }
      @if (modal.buttons?.length) {
        <div class="modal-action">
          @for (button of modal.buttons; track $index) {
            <koku-button
              [loading]="button.loading"
              [disabled]="button.disabled"
              [href]="button.href"
              [hrefTarget]="button.hrefTarget"
              [buttonType]="button.buttonType"
              [title]="button.title"
              [icon]="button.icon"
              [text]="button.text"
              [styles]="button.styles || []"
              [size]="button.size || null"
              (clicked)="button.onClick($event, modal, button)"
            ></koku-button>
          }
        </div>
      }
    </div>
    <button
      type="button"
      class="modal-backdrop"
      aria-label="Dialog schliessen"
      (click)="handleBackdropClick($event, modal)"
    ></button>
  </dialog>
}
