@if (content(); as content) {
  <fieldset class="fieldset rounded-box border p-4">
    @if (content.title; as title) {
      <legend class="fieldset-legend">{{ title }}</legend>
    }

    @for (childId of runtime().childIds(content.id, outlets.CONTENT)(); track childId) {
      @if (runtime().contentSignal(childId)(); as child) {
        <div
          formular-content-renderer
          [content]="$any(child)"
          [runtime]="runtime()"
          [loading]="loading()"
          [submitting]="submitting()"
          [contentRegistry]="contentRegistry()"
          [buttonDockOutlet]="buttonDockOutlet()"
          placementOutlet="content"
          [context]="context()"
        ></div>
      }
    }
  </fieldset>
}
