@if (content(); as content) {
  <fieldset class="fieldset rounded-box border p-4">
    @if (content.title; as title) {
      <legend class="fieldset-legend">{{ title }}</legend>
      @if (content.content; as contents) {
        @for (contentItem of contents; track contentItem.id) {
          @if (contentItem.id; as contentItemId) {
            @if (contentSetup().fieldRegistry[contentItem['@type']]) {
              @if (fieldRegister()[contentItemId]; as fieldRegistration) {
                <div
                  field-renderer
                  [content]="fieldRegistration.config"
                  [fieldRegister]="fieldRegister()"
                  [loading]="loading()"
                  [submitting]="submitting()"
                  [contentSetup]="contentSetup()"
                  [context]="context()"
                ></div>
              }
            }

            @if (contentSetup().buttonRegistry[contentItem['@type']]) {
              @if (buttonRegister()[contentItemId]; as buttonRegistration) {
                <div
                  button-renderer
                  [content]="buttonRegistration.config"
                  [buttonRegister]="buttonRegister()"
                  [loading]="loading()"
                  [submitting]="submitting()"
                  [contentSetup]="contentSetup()"
                  [buttonDockOutlet]="buttonDockOutlet()"
                ></div>
              }
            }

            @if (contentSetup().containerRegistry[contentItem['@type']]) {
              <div
                container-renderer
                [content]="$any(contentItem)"
                [fieldRegister]="fieldRegister()"
                [containerRegister]="containerRegister()"
                [buttonRegister]="buttonRegister()"
                [layoutRegister]="layoutRegister()"
                [loading]="loading()"
                [submitting]="submitting()"
                [contentSetup]="contentSetup()"
                [buttonDockOutlet]="buttonDockOutlet()"
                [context]="context()"
                [source]="source()"
              ></div>
            }

            @if (contentSetup().layoutRegistry[contentItem['@type']]) {
              <div
                layout-renderer
                [content]="$any(contentItem)"
                [layoutRegister]="layoutRegister()"
                [loading]="loading()"
                [submitting]="submitting()"
                [contentSetup]="contentSetup()"
              ></div>
            }
          }
        }
      }
    }
  </fieldset>
}
