@if (content(); as content) {
  <fieldset class="fieldset rounded-box border p-4">
    @if (content.title; as title) {
      <legend class="fieldset-legend">{{ title }}</legend>
      @if (content.content; as contents) {
        @if (content.id) {
          @for (content of contents; track content.id) {

            @if (contentSetup().fieldRegistry[content['@type']]; ) {
              <div field-renderer
                   [content]="fieldRegister()[content.id || ''].config"
                   [fieldRegister]="fieldRegister()"
                   [loading]="loading()"
                   [submitting]="submitting()"
                   [contentSetup]="contentSetup()"
                   [context]="context()"
              >
              </div>
            }

            @if (contentSetup().buttonRegistry[content['@type']]; ) {
              <div button-renderer
                   [content]="buttonRegister()[content.id || ''].config"
                   [buttonRegister]="buttonRegister()"
                   [loading]="loading()"
                   [submitting]="submitting()"
                   [contentSetup]="contentSetup()"
                   [buttonDockOutlet]="buttonDockOutlet()"
              >
              </div>
            }

            @if (contentSetup().containerRegistry[content['@type']]; ) {
              <div container-renderer
                   [content]="$any(content)"
                   [fieldRegister]="fieldRegister()"
                   [containerRegister]="containerRegister()"
                   [buttonRegister]="buttonRegister()"
                   [layoutRegister]="layoutRegister()"
                   [loading]="loading()"
                   [submitting]="submitting()"
                   [contentSetup]="contentSetup()"
                   [buttonDockOutlet]="buttonDockOutlet()"
                   [context]="context()"
              >
              </div>
            }

            @if (contentSetup().layoutRegistry[content['@type']]; ) {
              <div layout-renderer
                   [content]="$any(content)"
                   [layoutRegister]="layoutRegister()"
                   [loading]="loading()"
                   [submitting]="submitting()"
                   [contentSetup]="contentSetup()"
              >
              </div>
            }
          }
        }
      }
    }

  </fieldset>
}
