<h2 mat-dialog-title *ngIf="data.headline">{{data.headline}}</h2>

<mat-dialog-content>
  <span>{{data.message}}</span>
</mat-dialog-content>

<mat-dialog-actions align="end" *ngIf="data.buttons && data.buttons.length">
  <button mat-button
          [class.button-spinner]="button.loading"
          [disabled]="button.loading"
          *ngFor="let button of data.buttons"
          type="button"
          (click)="button.onClick($event, button, dialogRef)"
  >{{button.text}}</button>
</mat-dialog-actions>
