<form #form="ngForm"
      (ngSubmit)="save(customer, form)"
      id="customer-details"
      class="customer-manage-form">
  <mat-dialog-content>
    <div style="padding: 12px 0;">
      <mat-spinner *ngIf="!customer" class="spinner-center" diameter="30"></mat-spinner>
      <div *ngIf="customer"
           fxLayout="row wrap">
        <mat-form-field class="user-details-field firstname-field"
                        fxFlex.gt-md="33.33333333%">
          <mat-label>Vorname</mat-label>
          <input [(ngModel)]="customer.firstName"
                 cdkFocusInitial
                 matInput
                 name="firstname"
                 id="customer-details__firstname"
                 placeholder="Vorname eingeben"
          >
        </mat-form-field>
        <mat-form-field class="user-details-field lastname-field"
                        fxFlex.gt-md="33.33333333%">
          <mat-label>Nachname</mat-label>
          <input [(ngModel)]="customer.lastName"
                 matInput
                 name="lastname"
                 id="customer-details__lastname"
                 placeholder="Nachname eingeben"
          >
        </mat-form-field>
        <mat-form-field class="user-details-field email-field"
                        fxFlex.gt-md="33.33333333%">
          <mat-label>Email</mat-label>
          <input [(ngModel)]="customer.email"
                 matInput
                 name="email"
                 id="customer-details__email"
                 placeholder="Email eingeben"
                 type="email"
          >
          <a (click)="$event.stopPropagation();"
             [href]="'mailto:' + customer.email"
             mat-icon-button
             *ngIf="customer.email"
             style="display: flex; justify-content: center; align-items: center;"
             matSuffix>
            <mat-icon>mail_outline</mat-icon>
          </a>
        </mat-form-field>
        <mat-form-field class="user-details-field address-field"
                        fxFlex.gt-md="33.33333333%">
          <mat-label>Adresse</mat-label>
          <input [(ngModel)]="customer.address"
                 matInput
                 name="address"
                 id="customer-details__address"
                 placeholder="Adresse eingeben"
          >
        </mat-form-field>
        <mat-form-field class="user-details-field postalcode-field"
                        fxFlex.gt-md="33.33333333%">
          <mat-label>Postleitzahl</mat-label>
          <input [(ngModel)]="customer.postalCode"
                 matInput
                 name="postalcode"
                 id="customer-details__postal-code"
                 placeholder="Postleitzahl eingeben"
          >
        </mat-form-field>
        <mat-form-field class="user-details-field city-field"
                        fxFlex.gt-md="33.33333333%">
          <mat-label>Wohnort</mat-label>
          <input [(ngModel)]="customer.city"
                 matInput
                 name="city"
                 id="customer-details__city"
                 placeholder="Wohnort eingeben"
          >
        </mat-form-field>
        <mat-form-field class="user-details-field private-phone-field"
                        fxFlex.gt-md="33.33333333%">
          <mat-label>Private Telefonnummer</mat-label>
          <input [(ngModel)]="customer.privateTelephoneNo"
                 matInput
                 name="privateTelephoneNo"
                 id="customer-details__private-phone"
                 placeholder="Private Telefonnummer eingeben"
                 type="tel"
          >
          <a (click)="$event.stopPropagation();"
             [href]="bypassUri('tel:' + convertTelephoneNo(customer.privateTelephoneNo))"
             *ngIf="convertTelephoneNo(customer.privateTelephoneNo) !== ''"
             mat-button
             matSuffix>
            <mat-icon>phone</mat-icon>
          </a>
          <a (click)="$event.stopPropagation();"
             [href]="bypassUri('sip:' + convertTelephoneNo(customer.privateTelephoneNo))"
             *ngIf="convertTelephoneNo(customer.privateTelephoneNo) !== ''"
             mat-button
             matSuffix>
            <mat-icon svgIcon="voip" class="custom-svg-icon"></mat-icon>
          </a>
        </mat-form-field>
        <mat-form-field class="user-details-field mobile-phone-field"
                        fxFlex.gt-md="33.33333333%">
          <mat-label>Mobile Telefonnummer</mat-label>
          <input [(ngModel)]="customer.mobileTelephoneNo"
                 matInput
                 name="mobileTelephoneNo"
                 id="customer-details__mobile-phone"
                 placeholder="Mobile Telefonnummer eingeben"
                 type="tel"
          >
          <a (click)="$event.stopPropagation();"
             [href]="bypassUri('tel:' + convertTelephoneNo(customer.mobileTelephoneNo))"
             *ngIf="convertTelephoneNo(customer.mobileTelephoneNo) !== ''"
             mat-button
             matSuffix>
            <mat-icon>phone</mat-icon>
          </a>
          <a (click)="$event.stopPropagation();"
             [href]="bypassUri('sip:' + convertTelephoneNo(customer.mobileTelephoneNo))"
             *ngIf="convertTelephoneNo(customer.mobileTelephoneNo) !== ''"
             mat-button
             matSuffix>
            <mat-icon svgIcon="voip" class="custom-svg-icon"></mat-icon>
          </a>
        </mat-form-field>
        <mat-form-field class="user-details-field business-phone-field"
                        fxFlex.gt-md="33.33333333%">
          <mat-label>Geschäftliche Telefonnummer</mat-label>
          <input [(ngModel)]="customer.businessTelephoneNo"
                 matInput
                 name="businessTelephoneNo"
                 id="customer-details__business-phone"
                 placeholder="Geschäftliche Telefonnummer eingeben"
                 type="tel"
          >
          <a (click)="$event.stopPropagation();"
             [href]="bypassUri('tel:' + convertTelephoneNo(customer.businessTelephoneNo))"
             *ngIf="convertTelephoneNo(customer.businessTelephoneNo) !== ''"
             mat-button
             matSuffix>
            <mat-icon>phone</mat-icon>
          </a>
          <a (click)="$event.stopPropagation();"
             [href]="bypassUri('sip:' + convertTelephoneNo(customer.businessTelephoneNo))"
             *ngIf="convertTelephoneNo(customer.businessTelephoneNo) !== ''"
             mat-button
             matSuffix>
            <mat-icon svgIcon="voip" class="custom-svg-icon"></mat-icon>
          </a>
        </mat-form-field>
        <mat-form-field class="user-details-field birthday-field"
                        fxFlex.gt-md="33.33333333%">
          <mat-label>Geburtstag</mat-label>
          <input [(ngModel)]="customer.birthday"
                 matInput
                 name="birthday"
                 id="customer-details__birthday"
                 placeholder="Geburtstag eingeben"
                 type="date"
          >
        </mat-form-field>
        <mat-checkbox class="user-details-field onFirstNameBasis-field"
                      [(ngModel)]="customer.onFirstNameBasis"
                      id="customer-details__on-first-name-basis"
                      name="onFirstNameBasis"
        >Duzen
        </mat-checkbox>
        <mat-form-field class="user-details-field additionalInfo-field">
          <mat-label>Zusätzliche Informationen</mat-label>
          <textarea [(ngModel)]="customer.additionalInfo" cdkTextareaAutosize
                    matInput
                    name="additionalInfo"
                    id="customer-details__additional-info"
                    placeholder="Zusätzliche Informationen eingeben"
          ></textarea>
        </mat-form-field>
        <mat-form-field class="user-details-field medicalTolerance-field">
          <mat-label>Medizinische Informationen</mat-label>
          <textarea [(ngModel)]="customer.medicalTolerance" cdkTextareaAutosize
                    matInput
                    name="medicalTolerance"
                    id="customer-details__medical-info"
                    placeholder="Medizinische Informationen eingeben"
          ></textarea>
        </mat-form-field>
        <mat-checkbox class="user-details-field hayFever-field"
                      [(ngModel)]="customer.hayFever"
                      name="hayFever"
                      id="customer-details__hay-fever"
                      fxFlex.gt-md="33.33333333%"
        >Heuschnupfen
        </mat-checkbox>
        <mat-checkbox class="user-details-field plasterAllergy-field"
                      [(ngModel)]="customer.plasterAllergy"
                      name="plasterAllergy"
                      id="customer-details__plaster-allergy"
                      fxFlex.gt-md="33.33333333%"
        >Allergie gegen Pflaster
        </mat-checkbox>
        <mat-checkbox class="user-details-field cyanoacrylateAllergy-field"
                      [(ngModel)]="customer.cyanoacrylateAllergy"
                      name="cyanoacrylateAllergy"
                      id="customer-details__cyanoacrylate-allergy"
                      fxFlex.gt-md="33.33333333%"
        >Allergie gegen Cyanacrylat
        </mat-checkbox>
        <mat-form-field class="user-details-field allergy-field">
          <mat-label>Andere Allergien</mat-label>
          <textarea [(ngModel)]="customer.allergy" cdkTextareaAutosize
                    matInput
                    name="allergy"
                    id="customer-details__allergy-info"
                    placeholder="Allergien eingeben"
          ></textarea>
        </mat-form-field>
        <mat-checkbox class="user-details-field asthma-field"
                      [(ngModel)]="customer.asthma"
                      name="asthma"
                      id="customer-details__asthma"
                      fxFlex.gt-md="33.33333333%"
        >Asthma
        </mat-checkbox>
        <mat-checkbox class="user-details-field dryEyes-field"
                      [(ngModel)]="customer.dryEyes"
                      id="customer-details__dry-eyes"
                      name="dryEyes"
        >Trockene Augen
        </mat-checkbox>
        <mat-form-field class="user-details-field eye-disease-field">
          <mat-label>Andere Augenerkrankungen</mat-label>
          <textarea [(ngModel)]="customer.eyeDisease" cdkTextareaAutosize
                    matInput
                    name="eyeDisease"
                    id="customer-details__eye-disease-info"
                    placeholder="Andere Augenerkrankungen eingeben"
          ></textarea>
        </mat-form-field>
        <mat-checkbox class="user-details-field circulationProblems-field"
                      [(ngModel)]="customer.circulationProblems"
                      name="circulationProblems"
                      id="customer-details__circulation-problems"
                      fxFlex.gt-md="33.33333333%"
        >Kreislaufprobleme
        </mat-checkbox>
        <mat-checkbox class="user-details-field epilepsy-field"
                      [(ngModel)]="customer.epilepsy"
                      name="epilepsy"
                      id="customer-details__epilepsy"
                      fxFlex.gt-md="33.33333333%"
        >Epilepsie
        </mat-checkbox>
        <mat-checkbox class="user-details-field diabetes-field"
                      [(ngModel)]="customer.diabetes"
                      name="diabetes"
                      id="customer-details__diabetes"
                      fxFlex.gt-md="33.33333333%"
        >Diabetes
        </mat-checkbox>
        <mat-checkbox class="user-details-field claustrophobia-field"
                      [(ngModel)]="customer.claustrophobia"
                      name="claustrophobia"
                      id="customer-details__claustrophobia"
                      fxFlex.gt-md="33.33333333%"
        >Klaustrophobie
        </mat-checkbox>
        <mat-checkbox class="user-details-field neurodermatitis-field"
                      [(ngModel)]="customer.neurodermatitis"
                      name="neurodermatitis"
                      id="customer-details__neurodermatitis"
                      fxFlex.gt-md="33.33333333%"
        >Neurodermitis
        </mat-checkbox>
        <mat-checkbox class="user-details-field contacts-field"
                      [(ngModel)]="customer.contacts"
                      name="contacts"
                      id="customer-details__contacts"
                      fxFlex.gt-md="33.33333333%"
        >Kontaktlinsen
        </mat-checkbox>
        <mat-checkbox class="user-details-field glasses-field"
                      [(ngModel)]="customer.glasses"
                      name="glasses"
                      id="customer-details__glasses"
                      fxFlex.gt-md="33.33333333%"
        >Brillenträger
        </mat-checkbox>
        <mat-checkbox class="user-details-field covid19vaccinated-field"
                      [(ngModel)]="customer.covid19vaccinated"
                      name="covid19vaccinated"
                      id="customer-details__covid19vaccinated"
                      fxFlex.gt-md="33.33333333%"
        >Covid 19 geimpft
        </mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions *ngIf="customer" align="end">
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button *ngIf="!createMode"
            [class.button-spinner]="saving"
            [disabled]="saving || form.invalid"
            mat-button
            type="submit">
      Speichern
    </button>
    <button *ngIf="createMode"
            [class.button-spinner]="saving"
            [disabled]="saving || form.invalid"
            mat-button
            type="submit">
      Erstellen
    </button>
  </mat-dialog-actions>
</form>
