:host {
  display: flex;
  width: 100%;
}

.pseudo-fullscreen {
  position: fixed;
  inset: 0;
  background: #fff;
  z-index: 10000;

  overflow: auto;
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-direction: column;
}

.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}
