@if (content(); as content) {
  @if (contentSetup().fieldSlotRegistry[contentSlot()['@type']]; as fieldSlotComponent) {
    @if (fieldSlotComponent) {
      @if (content.id; as contentId) {
        @if (fieldRegister()[contentId]; as fieldRegisterDef) {
          <ndc-dynamic
            [ndcDynamicComponent]="fieldSlotComponent.componentType"
            [ndcDynamicInputs]="{
              name: contentId + '-' + slotName(),
              disabled: submitting() || fieldRegisterDef.disabledCauses().size > 0,
              required: fieldRegisterDef.requiredCauses().size > 0,
              readonly: fieldRegisterDef.readonlyCauses().size > 0,
              loading: loading() || fieldRegisterDef.loadingCauses().size > 0,
            }"
            [ngComponentOutletNdcDynamicInputs]="inputBindings()"
            [ngComponentOutletNdcDynamicOutputs]="outputBindings()"
          >
          </ndc-dynamic>
        }
      }
    }
  }
}
