@if (content(); as content) {
  <div
    class="grid
              grid-cols-{{ content.cols }}
              @sm:grid-cols-{{ content.sm }}
              @md:grid-cols-{{ content.md }}
              @lg:grid-cols-{{ content.lg }}
              @xl:grid-cols-{{ content.xl }}
              @2xl:grid-cols-{{ content.xl2 }}
              gap-2
              "
  >
    @for (childId of runtime().childIds(content.id, outlets.CONTENT)(); track childId) {
      @if (runtime().contentSignal(childId)(); as child) {
        <div
          formular-content-renderer
          [content]="$any(child)"
          [runtime]="runtime()"
          [loading]="loading()"
          [submitting]="submitting()"
          [contentRegistry]="contentRegistry()"
          [buttonDockOutlet]="buttonDockOutlet()"
          placementOutlet="content"
          [context]="context()"
        ></div>
      }
    }
  </div>
}
