<h1 *ngIf="dataSource && !hideHeadline" class="headline">{{dataSource.tableName}}</h1>

<div class="header">
  <mat-form-field *ngIf="dataSource"
                  class="global-search-field"
                  fxFlex.lt-md="100%"
                  fxFlex.md="50%"
                  fxFlex.gt-md="25%">
    <mat-label>Globale Suche</mat-label>
    <input [(ngModel)]="dataSourceConfiguration.globalSearch"
           (ngModelChange)="loadTable()"
           matInput
           class="global-search-field__input"
           [disabled]="disabled || false"
    >
    <button (click)="dataSourceConfiguration.globalSearch = undefined; loadTable();"
            [disabled]="!dataSourceConfiguration.globalSearch || disabled"
            mat-icon-button
            matSuffix
            tabindex="-1"
            type="button">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <div class="header__table-actions">
    <ng-container *ngIf="tableActionsContainer && dataSource"
                  [ngTemplateOutletContext]="{$implicit : {
                    exportRunning
                  }}"
                  [ngTemplateOutlet]="tableActionsContainer"></ng-container>
  </div>
</div>


<div class="content">

  <div>
    <table (matSortChange)="sortChanged($event)"
           [dataSource]="(dataSource || {}).rows || []"
           [trackBy]="trackByIndex"
           class="table"
           mat-table
           matSort
    >
      <ng-container
        *ngFor="let currentColumn of (dataSource || {}).columns || []; let colIdx = index; trackBy: trackByIndex"
        [matColumnDef]="currentColumn.id"
      >
        <th *matHeaderCellDef
            class="table__header-row__cell table__header-row__cell--{{currentColumn.type}}"
            mat-header-cell
        >
          <div mat-sort-header class="column-name" *ngIf="currentColumn.canFilter">{{currentColumn.name}}</div>
          <div class="column-name" *ngIf="!currentColumn.canFilter">{{currentColumn.name}}</div>
          <div *ngIf="dataSourceConfiguration.columnSpecByColumnId
                        && dataSourceConfiguration.columnSpecByColumnId[currentColumn.id]
                        && currentColumn.canFilter"
               class="table__header-row__cell__filter table__header-row__cell__filter--{{currentColumn.type}}"
          >
            <ng-template columnHost
                         *ngIf="dataTableConfig.columnTypes[currentColumn.type] !== undefined"
                         [componentType]="dataTableConfig.columnTypes[currentColumn.type].filterComponent"
                         [columnSpec]="currentColumn"
                         [columnQuery]="dataSourceConfiguration.columnSpecByColumnId[currentColumn.id]"
                         (filterChanged)="loadTable()"
            ></ng-template>

          </div>
        </th>
        <td *matCellDef="let element; let i = index;"
            [attr.title]="element[currentColumn.id]"
            class="table__row__cell table__row__cell--ellipsis"
            mat-cell>
          <ng-template fieldHost
                       *ngIf="dataTableConfig.columnTypes[currentColumn.type] !== undefined"
                       [componentType]="dataTableConfig.columnTypes[currentColumn.type].cellComponent"
                       [columnSpec]="currentColumn"
                       [componentData]="element[currentColumn.id]"
          ></ng-template>

        </td>
        <td *matFooterCellDef="let element; let i = index;"
            class="table__sum-row__cell table__sum__cell--ellipsis"
            mat-cell>

          <ng-template fieldHost
                       *ngIf="dataTableConfig.columnTypes[currentColumn.type] !== undefined"
                       [componentType]="dataTableConfig.columnTypes[currentColumn.type].cellComponent"
                       [columnSpec]="currentColumn"
                       [componentData]="currentColumn.footerSummary"
          ></ng-template>

        </td>
      </ng-container>

      <ng-container [matColumnDef]="'rowActions'"
                    [sticky]="true"
      >
        <th *matHeaderCellDef
            class="table__header-row__cell table__header-row__cell--actions"
            mat-header-cell
        >
          <div class="column-name">Aktionen</div>
        </th>
        <td *matCellDef="let element;"
            class="table__row__cell table__row__cell--actions"
            mat-cell>
          <ng-container *ngIf="tableRowActionsContainer"
                        [ngTemplateOutletContext]="{$implicit : element}"
                        [ngTemplateOutlet]="tableRowActionsContainer"></ng-container>
        </td>
        <td *matFooterCellDef="let element; let i = index;"
            class="table__sum-row__cell table__sum__cell--ellipsis"
            mat-footer-cell>
        </td>
      </ng-container>

      <ng-container [matColumnDef]="'rowSelection'"
                    [sticky]="true"
      >
        <th *matHeaderCellDef
            mat-header-cell
            class="table__header-row__cell table__header-row__cell--selection"
        >
          <ng-container *ngIf="tableRowSelectionHeaderContainer"
                        [ngTemplateOutletContext]="{$implicit : dataSource?.rows}"
                        [ngTemplateOutlet]="tableRowSelectionHeaderContainer"></ng-container>
        </th>
        <td *matCellDef="let element;"
            class="table__row__cell table__row__cell--selection"
            mat-cell>
          <ng-container *ngIf="tableRowSelectionContainer"
                        [ngTemplateOutletContext]="{$implicit : element}"
                        [ngTemplateOutlet]="tableRowSelectionContainer"></ng-container>
        </td>
        <td *matFooterCellDef="let element; let i = index;"
            class="table__sum-row__cell table__sum__cell--ellipsis"
            mat-footer-cell>
        </td>
      </ng-container>

      <ng-container [matColumnDef]="'loading'"
      >
        <th *matHeaderCellDef
            [attr.colspan]="((dataSource || {}).columns || []).length + (tableRowActionsContainer ? 1 : 0)"
            class="table__loading-row__cell"
            mat-header-cell
        >
          <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </th>
      </ng-container>


      <tr *matHeaderRowDef="displayedColumns; sticky: true"
          class="table__header-row"
          mat-header-row
      ></tr>

      <tr *matFooterRowDef="displayedColumns; sticky: true"
          class="table__sum-row"
          mat-footer-row
          [hidden]="!hasAnySum"
      ></tr>
      <tr *matHeaderRowDef="['loading'];"
          class="table__loading-row"
          mat-header-row
      ></tr>
      <tr (click)="(!this.disabled) ? rowSelected.emit(row) : ''"
          tabindex="0"
          *matRowDef="let row; columns: displayedColumns; let rowIdx = index"
          [ngClass]="{
         'table__row--even': rowIdx % 2 == 0,
         'table__row--odd': rowIdx % 2 == 1,
         'table__row--selectable': selectMode === 'SINGLE' || selectMode === 'MULTI',
         'table__row--color-red': customRowColorClasses.get(row) === 'RED'
        }"
          class="table__row"
          mat-row
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <ng-container *ngIf="dataSource && !loading">
        <tr *matNoDataRow class="table__no-data-row">
          <td [attr.colspan]="((dataSource || {}).columns || []).length + (tableRowActionsContainer ? 1 : 0)"
              class="table__no-data-row__cell">
            <div class="table__no-data-row__cell__content">
              Keine Daten vorhanden
            </div>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>

<mat-paginator (page)="paginationChanged($event)"
               [disabled]="loading || disabled || false"
               [length]="(dataSource || {}).total"
               [pageIndex]="dataSourceConfiguration.page || 0"
               [pageSizeOptions]="pageSizeOptions"
               [pageSize]="dataSourceConfiguration.total || defaultPageSize"
               class="paginator"
></mat-paginator>
