@if (content(); as content) {
  @if (contentSetup().containerRegistry[content['@type']]; as containerMapping) {
    <div class="@container">
      <ng-container
        [ngComponentOutlet]="containerMapping.componentType"
        [ngComponentOutletInputs]="{
            fieldRegister: fieldRegister(),
            buttonRegister: buttonRegister(),
            containerRegister: containerRegister(),
            layoutRegister: layoutRegister(),
            loading: loading(),
            submitting: submitting(),
            content: content,
            contentSetup: contentSetup(),
            buttonDockOutlet: buttonDockOutlet(),
            context: context(),
          }"
        [ngComponentOutletNdcDynamicInputs]="inputBindings()"
        [ngComponentOutletNdcDynamicOutputs]="outputBindings()"
      />
    </div>
  }

}
