@if (fileBlobUrl(); as fileBlobUrl) {
  @if (buttonDockOutlet()) {
    <ng-template koku-portal [portalOutlet]="buttonDockOutlet()" [append]="true">
      <a [attr.href]="fileBlobUrl" target="_blank" rel="noopener" title="Download">
        <koku-icon name="DOWNLOAD" />
      </a>
    </ng-template>
  } @else {
    <a [attr.href]="fileBlobUrl" target="_blank" rel="noopener" title="Download">
      <koku-icon name="DOWNLOAD" />
    </a>
  }

  @if (mimeType() === 'application/pdf') {
    <object #pdfPreview type="application/pdf" width="100%" height="100%">PDF</object>
  }
}
