<form #form="ngForm"
      (ngSubmit)="save(form)"
      class="checkbox-field-form">
  <mat-dialog-content>
    <div style="padding: 12px 0;">
      <div *ngIf="checkboxField">

        <mat-form-field class="checkbox-configuration-field checkbox-configuration-field--full-width">
          <mat-label>Label</mat-label>
          <input [(ngModel)]="checkboxField.label"
                 matInput
                 name="label"
                 placeholder="Label eingeben"
          >
        </mat-form-field>

        <mat-checkbox class="checkbox-configuration-field"
                      [(ngModel)]="checkboxField.value"
                      name="value"
        >Initialer Zustand
        </mat-checkbox>

        <mat-form-field class="checkbox-configuration-field">
          <mat-label>Kontext</mat-label>
          <mat-select [(value)]="checkboxField.context">
            <mat-option [value]="currentReplacementToken.replacementToken"
                        *ngFor="let currentReplacementToken of replacementTokens">
              {{currentReplacementToken.tokenName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-button-toggle-group [(ngModel)]="checkboxField.align"
                                 name="alignment"
        >
          <mat-button-toggle [value]="'LEFT'"
                             title="Links ausrichten">
            <mat-icon>format_align_left</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [value]="'CENTER'"
                             title="Mittig ausrichten">
            <mat-icon>format_align_center</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [value]="'RIGHT'"
                             title="Rechts ausrichten">
            <mat-icon>format_align_right</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field class="checkbox-configuration-field">
          <mat-label>Schriftgröße</mat-label>
          <mat-select [(value)]="checkboxField.fontSize">
            <mat-option [value]="null">Normal</mat-option>
            <mat-option [value]="'SMALL'">Klein</mat-option>
            <mat-option [value]="'LARGE'">Groß</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox class="checkbox-configuration-field"
                      [(ngModel)]="checkboxField.readOnly"
                      name="readonly"
        >Eingabe gesperrt
        </mat-checkbox>

        <mat-form-field class="checkbox-configuration-field">
          <mat-label>Feldgröße X-Large</mat-label>
          <mat-select [(value)]="checkboxField.xl">
            <mat-option [value]="null"></mat-option>
            <mat-option [value]="3">ein Viertel der Verfügbaren Breite</mat-option>
            <mat-option [value]="4">ein Drittel der Verfügbaren Breite</mat-option>
            <mat-option [value]="6">Hälfte der Verfügbaren Breite</mat-option>
            <mat-option [value]="12">Gesamte Breite</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="checkbox-configuration-field">
          <mat-label>Feldgröße Large</mat-label>
          <mat-select [(value)]="checkboxField.lg">
            <mat-option [value]="null"></mat-option>
            <mat-option [value]="3">ein Viertel der Verfügbaren Breite</mat-option>
            <mat-option [value]="4">ein Drittel der Verfügbaren Breite</mat-option>
            <mat-option [value]="6">Hälfte der Verfügbaren Breite</mat-option>
            <mat-option [value]="12">Gesamte Breite</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="checkbox-configuration-field">
          <mat-label>Feldgröße Medium</mat-label>
          <mat-select [(value)]="checkboxField.md">
            <mat-option [value]="null"></mat-option>
            <mat-option [value]="3">ein Viertel der Verfügbaren Breite</mat-option>
            <mat-option [value]="4">ein Drittel der Verfügbaren Breite</mat-option>
            <mat-option [value]="6">Hälfte der Verfügbaren Breite</mat-option>
            <mat-option [value]="12">Gesamte Breite</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="checkbox-configuration-field">
          <mat-label>Feldgröße Small</mat-label>
          <mat-select [(value)]="checkboxField.sm">
            <mat-option [value]="null"></mat-option>
            <mat-option [value]="3">ein Viertel der Verfügbaren Breite</mat-option>
            <mat-option [value]="4">ein Drittel der Verfügbaren Breite</mat-option>
            <mat-option [value]="6">Hälfte der Verfügbaren Breite</mat-option>
            <mat-option [value]="12">Gesamte Breite</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="checkbox-configuration-field">
          <mat-label>Feldgröße X-Small</mat-label>
          <mat-select [(value)]="checkboxField.xs">
            <mat-option [value]="null"></mat-option>
            <mat-option [value]="3">ein Viertel der Verfügbaren Breite</mat-option>
            <mat-option [value]="4">ein Drittel der Verfügbaren Breite</mat-option>
            <mat-option [value]="6">Hälfte der Verfügbaren Breite</mat-option>
            <mat-option [value]="12">Gesamte Breite</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions *ngIf="checkboxField" align="end">
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button *ngIf="!createMode"
            [class.button-spinner]="saving"
            [disabled]="saving || form.invalid"
            mat-button
            type="submit">
      Speichern
    </button>
    <button *ngIf="createMode"
            [class.button-spinner]="saving"
            [disabled]="saving || form.invalid"
            mat-button
            type="submit">
      Erstellen
    </button>
  </mat-dialog-actions>
</form>
