<label class="flex justify-center items-center flex-col w-full">
  @if (label(); as label) {
    <div class="label">
      <span class="label-text">{{ label }}</span>
    </div>
  }

  <div>
    <div class="avatar avatar-placeholder relative">
      <div class="bg-neutral text-neutral-content w-64 rounded-full"
           [class.skeleton]="loading()">
        @if (value() || defaultValue()) {
          <img [src]="!loading() ? value() : defaultValue()">
        }
      </div>

      <button class="btn btn-circle btn-neutral absolute bottom-2 left-0 right-0 m-auto opacity-50"
              [class.hover:opacity-100]="!disabled()"
              type="button"
              [attr.disabled]="disabled() ? '' : null"
              (click)="input.click()"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"/>
        </svg>
      </button>

      @if (value(); as value) {
        <button class="btn btn-circle btn-error absolute top-2 right-0 left-0 m-auto opacity-50"
                [class.hover:opacity-100]="!disabled()"
                (click)="clearImage()"
                type="button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor"
               class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
          </svg>
        </button>
      }
    </div>

    <input type="file"
           [attr.disabled]="disabled() ? '' : null"
           class="file-input file-input-bordered"
           #input
           (change)="onFileSelected($event)"
           [hidden]="true"
    >
  </div>
</label>
