@use '@angular/material' as mat;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$koku-primary: mat.define-palette((
  50: #ede7f6,
  100: #d1c4e9,
  200: #b39ddb,
  300: #9575cd,
  400: #7e57c2,
  500: #673ab7,
  600: #5e35b1,
  700: #512da8,
  800: #4527a0,
  900: #311b92,
  A100: #b388ff,
  A200: #7c4dff,
  A400: #651fff,
  A700: #6200ea,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
));
$koku-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$koku-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$koku-theme: mat.define-light-theme((
  color: (
    primary: $koku-primary,
    accent: $koku-accent,
    warn: $koku-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($koku-theme);

@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .mat-button-toggle {
    background-color: mat.get-color-from-palette($koku-primary, 200);
    color: mat.get-color-from-palette($koku-primary, '200-contrast');
  }

  .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    background-color: mat.get-color-from-palette($koku-primary, 400);
    color: mat.get-color-from-palette($koku-primary, '400-contrast');
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 54px;
  }
  .mat-toolbar-multiple-rows {
    min-height: 50px;
  }

  .mat-input-element:disabled {
    color: inherit;
  }

  .mat-dialog-content {
    max-height: calc(100vh - 350px) !important;
    max-height: calc(var(--vh) - 235px) !important;
  }

}

// Include the mixin
@include mix-app-theme($koku-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// loading button start
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.button-spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

// loading button end

.fab-button-container {
  position: fixed;
  bottom: 30px;
  right: 16px;
  z-index: 1;

  &--left {
    right: auto;
    left: 16px;

    .fab-button {
      margin-left: 10px;
      margin-right: 0;
    }
  }

  .fab-button {
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &--toolbar-right-side {
    bottom: auto;
    top: 6px;
    right: 12px;
  }
}

.spinner-center {
  margin: 0 auto;
}

.dialog-split-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu-btn {
    margin-bottom: 16px !important;
  }
}

.action-list-sub {
  opacity: 0.85;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  font-size: 15px !important;
}

.sold-product-chip-list__item {
  background-color: mat.get-color-from-palette($koku-accent, 50) !important;
}

.activity-sequence-chip-list__item {
  &--product {
    background-color: mat.get-color-from-palette($koku-accent, 50) !important;
  }

  &--activity-step {
    background-color: mat.get-color-from-palette($koku-primary, 50) !important;
  }
}

.page-skeleton {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__spacing {
    padding: 10px 16px 0;
  }

  &__scroll-area {
    flex: 1;
    overflow: auto;
  }
}

.custom-svg-icon {
  path {
    fill: currentColor;
  }
}

.no-select {
  user-select: none;
}
