:host {
  width: 100%;
  display: flex;
}
.checkbox-field {
  white-space: pre-wrap;
  line-height: 1.5em;
  &__label {
    &--small {
      font-size: 8px;
    }
    &--large {
      font-size: 24px;
    }
  }
}
