@import '~@fullcalendar/common/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@angular/material/theming';
@import "~src/styles";

.calendar {
  max-width: 1100px;
  margin: 40px auto;
}

::ng-deep .calendar-event {
  &--clickable {
    cursor: pointer;
    @include mat-elevation-transition;

    &.calendar-event--hover {
      @include mat-elevation(2);
    }
  }
}

::ng-deep .fc-event.fc-timegrid-event.calendar-event {
  background-color: #673ab7;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

::ng-deep .fc-theme-standard .fc-scrollgrid {
  border: none !important;
  .fc-scrollgrid-section-sticky {
    > td {
      // sticky header should be on top
      z-index: 3;
    }
  }
}

::ng-deep .private-appointment {
  background-color: mat-color($koku-accent, 300) !important;
  color: mat-color($koku-accent, '300-contrast') !important;

  &:hover {
    background-color: mat-color($koku-accent, 400) !important;
    color: mat-color($koku-accent, '400-contrast') !important;
  }
}

::ng-deep .customer-appointment {
  background-color: mat-color($koku-primary, 100) !important;
  color: mat-color($koku-primary, '100-contrast') !important;

  &:hover {
    background-color: mat-color($koku-primary, 200) !important;
    color: mat-color($koku-primary, '200-contrast') !important;
  }
}

::ng-deep .customer-birthday {
  background-color: #aaa !important;
  border: none !important;

  &:hover {
    background-color: #999 !important;
  }

  .fc-event-title {
    color: #000 !important;
  }
}

.calendar-filter-drawer-container {
  height: 100%;
}

.visibility-control-card {
  margin: 0 16px;

  &__headline {

  }

  &__item {
    margin: 20px 0;
  }
}

.content {
  padding: 0 0 110px;
  flex: 1;
  overflow: auto;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.calendar-date-control {
  justify-content: space-between;
}
