<div class="flex h-full flex-col">
  @if (activatedRoute.routeConfig?.children) {
    <div class="navbar bg-base-200 p-0 min-h-0">
      <div role="tablist" class="tabs tabs-sm tabs-border w-full overflow-x-auto overflow-y-clip flex-nowrap px-3">
        @for (currentRouteChildren of activatedRoute.routeConfig?.children; track $index) {
          @if (currentRouteChildren.path) {
            <a #rla="routerLinkActive"
               [routerLink]="currentRouteChildren.path"
               [class.tab-active]="rla.isActive"
               role="tab" class="tab"
               routerLinkActive> {{ currentRouteChildren.title }} </a>
          }
        }
      </div>
    </div>
  }
  <div class="flex-1 overflow-auto">
    <router-outlet></router-outlet>
  </div>

</div>
