<span>
  {{ item.description }}
</span>
<div *ngIf="item.items"
     [sortablejs]="item.items"
     class="sortable"
     [sortablejsOptions]="{
               fallbackTolerance: 5,
               group: 'sortable-items-' + item.id,
               handle: '.sortable__item__handle-btn',
               dragClass: 'sortable-drag',
               onStart: startDraggingItem,
               onEnd: endDraggingItem
             }"
>
  <div *ngFor="let currentItem of item.items" class="sortable__item">
    <button mat-icon-button
            type="button"
            color="primary"
    >
      <mat-icon class="sortable__item__handle-btn"
                (mousedown)="$event.stopPropagation()"
                (touchstart)="$event.stopPropagation()">
        drag_handle
      </mat-icon>
    </button>

    <sortable-dialog-item [item]="currentItem"></sortable-dialog-item>
  </div>
</div>
