<span>
  {{ item.description }}
</span>
<div *ngIf="item.items"
     cdkDropList
     cdkDropListOrientation="horizontal"
     (cdkDropListDropped)="moveItemInArray(item.items, $event)"
>
  <div *ngFor="let currentItem of item.items" class="sortable__item">
    <button mat-icon-button
            type="button"
            color="primary"
            cdkDrag
    >
      <mat-icon class="sortable__item__handle-btn"
                cdkDragHandle>
        drag_handle
      </mat-icon>
    </button>

    <sortable-dialog-item [item]="currentItem"></sortable-dialog-item>
  </div>
</div>
