<h2 mat-dialog-title *ngIf="data.headline">{{data.headline}}</h2>

<mat-dialog-content>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="moveItemInArray(data.items, $event)"
  >
    <div *ngFor="let currentItem of data.items" class="sortable__item"
    cdkDrag>
      <button mat-icon-button
              type="button"
              color="primary"
      >
        <mat-icon class="sortable__item__handle-btn"
                  cdkDragHandle>
          drag_handle
        </mat-icon>
      </button>

      <sortable-dialog-item [item]="currentItem"></sortable-dialog-item>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end" *ngIf="data.buttons && data.buttons.length">
  <button mat-button
          [class.button-spinner]="button.loading"
          [disabled]="button.loading"
          *ngFor="let button of data.buttons"
          type="button"
          (click)="button.onClick($event, button, dialogRef)"
  >{{button.text}}</button>
</mat-dialog-actions>
