<div class="page-skeleton">
  <div class="page-skeleton__spacing">
    <form class="activity-search-form">
      <mat-form-field class="search-field">
        <mat-label>Suchen</mat-label>
        <input (ngModelChange)='searchFieldChangeSubject.next($event)'
               [(ngModel)]='searchFieldModel'
               matInput
               name="activityStepSearch"
               placeholder="Name eingeben"
        >
        <button (click)="clearSearchField()"
                *ngIf="searchFieldModel"
                aria-label="Clear"
                type="button"
                mat-button
                mat-icon-button
                matSuffix>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <div class="page-skeleton__scroll-area">

    <mat-action-list>
      <button (click)="openActivityStepDetails(activity)"
              *ngFor="let activity of activitySteps$ | async; trackBy: trackByFn"
              mat-list-item>
        <h3 matLine>{{activity.description}}</h3>
      </button>
    </mat-action-list>


    <div class="fab-button-container">
      <button (click)="addNewActivityStep();"
              aria-label="Neue Tätigkeit hinzufügen"
              color="primary"
              mat-fab
              class="fab-button"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
