<div *ngIf="!createMode && document">
  <mat-menu #menu>
    <button (click)="delete(document)" mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Löschen</span>
    </button>
    <button (click)="duplicate(document)" mat-menu-item>
      <mat-icon>content_copy</mat-icon>
      <span>Duplizieren</span>
    </button>
  </mat-menu>
  <div class="dialog-split-header">
    <h2 mat-dialog-title>Dokument bearbeiten</h2>
    <button [matMenuTriggerFor]="menu"
            class="dialog-split-header__menu-btn"
            mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>
<h2 *ngIf="createMode" mat-dialog-title>Dokument anlegen</h2>
<mat-spinner *ngIf="!document" class="spinner-center" diameter="30"></mat-spinner>
<form #documentForm="ngForm"
      (keydown.enter)="save(document, documentForm)"
      (submit)="save(document, documentForm)"
      *ngIf="document">
  <mat-dialog-content>

    <mat-form-field class="document-name-field">
      <mat-label>Dokumentenname</mat-label>
      <input [(ngModel)]="document.description"
             cdkFocusInitial
             matInput
             name="text"
             placeholder="Dokumentenname"
             inputmode="text"
             type="text"
      >
    </mat-form-field>

    <div class="document"
         [sortablejs]="document.rows"
         [sortablejsOptions]="{
            fallbackTolerance: 5,
            group: 'document',
            handle: '.document__row__handle-btn',
            dragClass: 'sortable-drag',
            onStart: startDragging,
            onEnd: endDragging
          }">


      <div class="document__row-info"
           *ngIf="!document.rows || document.rows.length === 0">
        <button class="document__row__contents__row-info__add-content-button"
                mat-button
                type="button"
                (click)="addRow(document)"
        >
          Zeile hinzufügen
          <mat-icon prefix>add_circle_outline</mat-icon>
        </button>
      </div>


      <div *ngFor="let row of document.rows; let rowIndex = index; trackBy: trackByRow"
           class="document__row"
      >
        <div class="document__row__menu">
          <button mat-icon-button
                  type="button"
                  color="accent"
          >
            <mat-icon class="document__row__handle-btn"
                      (mousedown)="$event.stopPropagation()"
                      (touchstart)="$event.stopPropagation()">
              drag_handle
            </mat-icon>
          </button>

          <button mat-icon-button
                  type="button"
                  color="accent"
                  title="neue Zeile vor dieser einfügen"
                  (click)="addRow(document, (document.rows || []).indexOf(row))"
          >
            <mat-icon svgIcon="add_above" class="custom-svg-icon"></mat-icon>
          </button>
          <button mat-icon-button
                  type="button"
                  color="accent"
                  title="neue Zeile hinter dieser einfügen"
                  (click)="addRow(document, (document.rows || []).indexOf(row) + 1)"
          >
            <mat-icon svgIcon="add_below" class="custom-svg-icon"></mat-icon>
          </button>
          <button mat-icon-button
                  type="button"
                  color="accent"
                  title="Zeile löschen"
                  (click)="deleteRow(row, document.rows || [])"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <div class="document__row__contents"
             [sortablejs]="row.items"
             [sortablejsOptions]="{
               fallbackTolerance: 5,
               group: 'items',
               handle: '.document__row__contents__item__menu__handle-btn',
               dragClass: 'sortable-drag',
               onStart: startDraggingItem,
               onEnd: endDraggingItem
             }"
             fxLayout="row wrap">

          <div class="document__row__contents__row-info"
               *ngIf="!row.items || row.items.length === 0">
            <mat-menu #rowItemCreationMenu>
              <button (click)="createSVGField(row)"
                      mat-menu-item>
                <span>Vektorgrafik</span>
              </button>
              <button (click)="createTextField(row)"
                      mat-menu-item>
                <span>Text</span>
              </button>
              <button (click)="createCheckboxField(row)"
                      mat-menu-item>
                <span>Checkbox</span>
              </button>
              <button (click)="createSignatureField(row)"
                      mat-menu-item>
                <span>Unterschrift</span>
              </button>
            </mat-menu>
            <button class="document__row__contents__row-info__add-content-button"
                    mat-button
                    type="button"
                    [matMenuTriggerFor]="rowItemCreationMenu"
            >
              Feld hinzufügen
              <mat-icon prefix>add_circle_outline</mat-icon>
            </button>
          </div>

          <div *ngFor="let formField of row.items; let fieldIndex = index; trackBy: trackByFormField"
               [fxFlex.xl]="getFxFlex(formField.xl || formField.lg || formField.md || formField.sm || formField.xs || 12)"
               [fxFlex.lg]="getFxFlex(formField.lg || formField.md || formField.sm || formField.xs || 12)"
               [fxFlex.md]="getFxFlex(formField.md || formField.sm || formField.xs || 12)"
               [fxFlex.sm]="getFxFlex(formField.sm || formField.xs || 12)"
               [fxFlex.xs]="getFxFlex(formField.xs || 12)"
               class="document__row__contents__item">

            <div class="document__row__contents__item__menu">
              <button mat-icon-button
                      type="button"
                      color="primary"
              >
                <mat-icon class="document__row__contents__item__menu__handle-btn"
                          (mousedown)="$event.stopPropagation()"
                          (touchstart)="$event.stopPropagation()">
                  drag_handle
                </mat-icon>
              </button>
              <mat-menu #rowItemCreationMenuBefore>
                <button (click)="createSVGField(row, (row.items || []).indexOf(formField))"
                        mat-menu-item>
                  <span>Vektorgrafik</span>
                </button>
                <button (click)="createTextField(row, (row.items || []).indexOf(formField))"
                        mat-menu-item>
                  <span>Text</span>
                </button>
                <button (click)="createCheckboxField(row, (row.items || []).indexOf(formField))"
                        mat-menu-item>
                  <span>Checkbox</span>
                </button>
                <button (click)="createSignatureField(row, (row.items || []).indexOf(formField))"
                        mat-menu-item>
                  <span>Unterschrift</span>
                </button>
              </mat-menu>
              <button mat-icon-button
                      type="button"
                      color="primary"
                      title="Neues Feld vor diesem einfügen"
                      [matMenuTriggerFor]="rowItemCreationMenuBefore"
              >
                <mat-icon svgIcon="add_before" class="custom-svg-icon"></mat-icon>
              </button>
              <mat-menu #rowItemCreationMenuAfter>
                <button (click)="createSVGField(row,(row.items || []).indexOf(formField) + 1)"
                        mat-menu-item>
                  <span>Vektorgrafik</span>
                </button>
                <button (click)="createTextField(row, (row.items || []).indexOf(formField) + 1)"
                        mat-menu-item>
                  <span>Text</span>
                </button>
                <button (click)="createCheckboxField(row, (row.items || []).indexOf(formField) + 1)"
                        mat-menu-item>
                  <span>Checkbox</span>
                </button>
                <button (click)="createSignatureField(row, (row.items || []).indexOf(formField) + 1)"
                        mat-menu-item>
                  <span>Unterschrift</span>
                </button>
              </mat-menu>
              <button mat-icon-button
                      type="button"
                      color="primary"
                      title="Neues Feld hinter diesem einfügen"
                      [matMenuTriggerFor]="rowItemCreationMenuAfter"
              >
                <mat-icon svgIcon="add_after" class="custom-svg-icon"></mat-icon>
              </button>

              <button mat-icon-button
                      (click)="editFormField(formField, row)"
                      color="primary"
                      title="Feld bearbeiten"
                      type="button">
                <mat-icon>
                  mode_edit
                </mat-icon>
              </button>
              <button mat-icon-button
                      (click)="deleteItem(formField, row)"
                      color="primary"
                      title="Feld löschen"
                      type="button">
                <mat-icon>
                  delete
                </mat-icon>
              </button>
            </div>

            <div class="document__row__contents__item__inner">
              <checkbox-field *ngIf="formField['@type']==='CheckboxFormularItemDto'"
                              [name]="rowIndex + '' + fieldIndex + ''"
                              [style.justify-content]="getAlignStyle(formField.align)"
                              [fontSize]="formField.fontSize"
                              [label]="formField.label"
                              [(ngModel)]="formField.value"
                              [readOnly]="true"
                              style="padding: 4px 0;">
              </checkbox-field>
              <signature-field *ngIf="formField['@type']==='SignatureFormularItemDto'"
                               [name]="rowIndex + '' + fieldIndex + ''"
                               [style.justify-content]="getAlignStyle(formField.align)"
                               [(ngModel)]="formField.dataUri"
                               style="padding: 4px 0;">
              </signature-field>
              <text-field *ngIf="formField['@type']==='TextFormularItemDto'"
                          [name]="rowIndex + '' + fieldIndex + ''"
                          [style.justify-content]="getAlignStyle(formField.align)"
                          [fontSize]="formField.fontSize"
                          [(ngModel)]="formField.text"
                          [readOnly]="true"
                          style="padding: 4px 0;">
              </text-field>
              <svg-field *ngIf="formField['@type']==='SVGFormularItemDto'"
                         [name]="rowIndex + '' + fieldIndex + ''"
                         [style.justify-content]="getAlignStyle(formField.align)"
                         [maxWidthInPx]="formField.maxWidthInPx"
                         [widthPercentage]="formField.widthPercentage"
                         [(ngModel)]="formField.svgContentBase64encoded"
                         style="padding: 4px 0;">
              </svg-field>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button *ngIf="!createMode"
            [class.button-spinner]="saving"
            [disabled]="saving || documentForm.invalid"
            mat-button
            type="submit">
      Speichern
    </button>
    <button *ngIf="createMode"
            [class.button-spinner]="saving"
            [disabled]="saving || documentForm.invalid"
            mat-button
            type="submit">
      Erstellen
    </button>
  </mat-dialog-actions>

</form>
