:host {
  width: 100%;
  display: flex;
}

.text-field {
  width: 100%;

  &__inner {
    white-space: pre-wrap;
    line-height: 1.5em;

    &--small {
      font-size: 8px;
    }

    &--large {
      font-size: 24px;
    }

    &--align-center {
      text-align: center;
    }

    &--align-start {
      text-align: start;
    }

    &--align-end {
      text-align: end;
    }
  }

  ::ng-deep .mat-form-field-infix {
    // remove spacing around
    padding: 0;
    border: 0;
  }
}
