<mat-form-field class="text-field">
  <textarea [(ngModel)]="internalValue"
            matInput
            class="text-field__inner"
            [class.text-field__inner--large]="fontSize === 'LARGE'"
            [class.text-field__inner--small]="fontSize === 'SMALL'"
            [class.text-field__inner--align-center]="align === 'CENTER'"
            [class.text-field__inner--align-end]="align === 'RIGHT'"
            [class.text-field__inner--align-start]="align === 'LEFT'"
            [disabled]="readOnly === true"
            cdkTextareaAutosize
            (change)="onChange(internalValue)"
  ></textarea>
</mat-form-field>
