@if (contentWithColors(); as content) {
  <div
    class="h-full card shadow-md p-4 rounded-2xl flex flex-col items-center justify-center gap-1"
    [class]="content._cardColor"
  >
    @if (content.topHeadline; as topHeadline) {
      <div class="text-xl font-semibold" [class]="content._topHeadlineColor">{{ topHeadline }}</div>
    }
    @if (content.headline; as headline) {
      <div class="text-2xl font-bold" [class]="content._headlineColor">{{ headline }}</div>
    }
    @if (content.subHeadline; as subHeadline) {
      <div class="text-sm" [class]="content._subHeadlineColor">{{ subHeadline }}</div>
    }

    @if (content.progressDetails) {
      <div class="flex justify-between w-full text-sm">
        @for (progressDetail of content.progressDetails; track $index) {
          <div class="flex flex-col items-center">
            <span class="font-semibold" [class]="progressDetail._headlineColor">{{ progressDetail.headline }}</span>
            <span class="text-gray-400 dark:text-gray-100">{{ progressDetail.subHeadline }}</span>
          </div>
        }
      </div>
    }

    @for (explanation of content.explanations; track $index) {
      <div class="flex justify-between text-sm w-full">
        @if (explanation.left) {
          <span>{{ explanation.left }}</span>
        }
        @if (explanation.right) {
          <span>{{ explanation.right }}</span>
        }
      </div>
    }

    @if (content.progress !== undefined) {
      <div class="w-full h-2 rounded-full" [class]="content._progressColor">
        <div class="h-2 rounded-full" [style.width.%]="content.progress" [class]="content._progressBarColor"></div>
      </div>
    }
  </div>
}
