<form #form="ngForm"
      (ngSubmit)="save(form)">
  <mat-dialog-content>
    <div style="padding: 12px 0;">
      <div *ngIf="qrCodeField">
        <mat-menu #replacementTokenMenu>
          <button (click)="addReplacementToken(textArea, replacementToken, qrCodeField)"
                  mat-menu-item
                  *ngFor="let replacementToken of replacementTokens"
          >
            <span>{{replacementToken.tokenName}}</span>
          </button>
        </mat-menu>

        <mat-form-field class="text-configuration-field text-configuration-field--full-width">
          <mat-label>QR-Code</mat-label>
          <textarea [(ngModel)]="qrCodeField.value"
                    #textArea
                    cdkFocusInitial
                    matInput
                    name="text"
                    placeholder="Text"
                    inputmode="text"
                    type="text"
                    cdkTextareaAutosize
                    rows="3"
                    class="textarea"
                    [class.textarea--align-center]="qrCodeField.align === 'CENTER'"
                    [class.textarea--align-end]="qrCodeField.align === 'RIGHT'"
                    [class.textarea--align-start]="qrCodeField.align === 'LEFT'"
          ></textarea>
          <div class="text-field-menu">
            <div class="text-field-menu__inner">
              <button mat-icon-button
                      color="primary"
                      [mat-menu-trigger-for]="replacementTokenMenu"
                      type="button">
                <mat-icon svgIcon="brick_block_add" class="custom-svg-icon"></mat-icon>
              </button>
            </div>
          </div>
        </mat-form-field>

        <mat-button-toggle-group [(ngModel)]="qrCodeField.align"
                                 name="alignment"
        >
          <mat-button-toggle [value]="'LEFT'"
                             title="Links ausrichten"
                             aria-label="Text align left">
            <mat-icon>format_align_left</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [value]="'CENTER'"
                             title="Mittig ausrichten"
                             aria-label="Text align center">
            <mat-icon>format_align_center</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [value]="'RIGHT'"
                             title="Rechts ausrichten"
                             aria-label="Text align right">
            <mat-icon>format_align_right</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field class="text-configuration-field">
          <mat-label>Feldgröße X-Large</mat-label>
          <mat-select [(value)]="qrCodeField.xl">
            <mat-option [value]="null"></mat-option>
            <mat-option [value]="3">ein Viertel der Verfügbaren Breite</mat-option>
            <mat-option [value]="4">ein Drittel der Verfügbaren Breite</mat-option>
            <mat-option [value]="6">Hälfte der Verfügbaren Breite</mat-option>
            <mat-option [value]="12">Gesamte Breite</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="text-configuration-field">
          <mat-label>Feldgröße Large</mat-label>
          <mat-select [(value)]="qrCodeField.lg">
            <mat-option [value]="null"></mat-option>
            <mat-option [value]="3">ein Viertel der Verfügbaren Breite</mat-option>
            <mat-option [value]="4">ein Drittel der Verfügbaren Breite</mat-option>
            <mat-option [value]="6">Hälfte der Verfügbaren Breite</mat-option>
            <mat-option [value]="12">Gesamte Breite</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="text-configuration-field">
          <mat-label>Feldgröße Medium</mat-label>
          <mat-select [(value)]="qrCodeField.md">
            <mat-option [value]="null"></mat-option>
            <mat-option [value]="3">ein Viertel der Verfügbaren Breite</mat-option>
            <mat-option [value]="4">ein Drittel der Verfügbaren Breite</mat-option>
            <mat-option [value]="6">Hälfte der Verfügbaren Breite</mat-option>
            <mat-option [value]="12">Gesamte Breite</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="text-configuration-field">
          <mat-label>Feldgröße Small</mat-label>
          <mat-select [(value)]="qrCodeField.sm">
            <mat-option [value]="null"></mat-option>
            <mat-option [value]="3">ein Viertel der Verfügbaren Breite</mat-option>
            <mat-option [value]="4">ein Drittel der Verfügbaren Breite</mat-option>
            <mat-option [value]="6">Hälfte der Verfügbaren Breite</mat-option>
            <mat-option [value]="12">Gesamte Breite</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="text-configuration-field">
          <mat-label>Feldgröße X-Small</mat-label>
          <mat-select [(value)]="qrCodeField.xs">
            <mat-option [value]="null"></mat-option>
            <mat-option [value]="3">ein Viertel der Verfügbaren Breite</mat-option>
            <mat-option [value]="4">ein Drittel der Verfügbaren Breite</mat-option>
            <mat-option [value]="6">Hälfte der Verfügbaren Breite</mat-option>
            <mat-option [value]="12">Gesamte Breite</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions *ngIf="qrCodeField" align="end">
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button *ngIf="!createMode"
            [class.button-spinner]="saving"
            [disabled]="saving || form.invalid"
            mat-button
            type="submit">
      Speichern
    </button>
    <button *ngIf="createMode"
            [class.button-spinner]="saving"
            [disabled]="saving || form.invalid"
            mat-button
            type="submit">
      Erstellen
    </button>
  </mat-dialog-actions>
</form>
