<div class="page-skeleton">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="wrapper">
        <div class="left">
          <button
            [routerLink]="activatedRoute.snapshot.queryParams.backRouterLink || activatedRoute.snapshot.data.backRouterLink || '..'"
            [queryParams]="activatedRoute.snapshot.queryParams.backQueryParams || activatedRoute.snapshot.data.backQueryParams || ''"
            mat-icon-button
            *ngIf="!activatedRoute.snapshot.queryParams.backLink">
            <mat-icon>first_page</mat-icon>
          </button>
          <a [href]="activatedRoute.snapshot.queryParams.backLink"
             mat-icon-button
             *ngIf="activatedRoute.snapshot.queryParams.backLink">
            <mat-icon>first_page</mat-icon>
          </a>
          <div class="header-line">
            {{activatedRoute.snapshot.queryParams.backLabel || activatedRoute.snapshot.data.backLabel || ''}}
          </div>
        </div>
        <div class="right">
          <router-outlet name="right"></router-outlet>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="page-skeleton__scroll-area">
    <router-outlet></router-outlet>
  </div>
</div>
