.header-line {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left,
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
