<div class="page-skeleton">
  <div class="page-skeleton__spacing">
    <form class="product-search-form">
      <mat-form-field class="search-field">
        <mat-label>Suchen</mat-label>
        <input (ngModelChange)='searchFieldChangeSubject.next($event)'
               [(ngModel)]='searchFieldModel'
               matInput
               name="documentSearch"
               placeholder="Name eingeben"
        >
        <button (click)="clearSearchField()"
                *ngIf="searchFieldModel"
                aria-label="Clear"
                type="button"
                mat-button
                mat-icon-button
                matSuffix>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <div class="page-skeleton__scroll-area">
    <mat-action-list>
      <button (click)="openDocumentDetails(document)"
              *ngFor="let document of documents$ | async; trackBy: trackByFn"
              mat-list-item>
        {{document.description}}
      </button>
    </mat-action-list>

    <div class="fab-button-container">
      <button (click)="addNewDocument();"
              aria-label="Neues Dokument hinzufügen"
              color="primary"
              mat-fab
              class="fab-button"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
