<div *ngIf="!createMode && document">
  <mat-menu #menu>
    <button (click)="delete(document)" mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Löschen</span>
    </button>
    <button (click)="duplicate(document)" mat-menu-item>
      <mat-icon>content_copy</mat-icon>
      <span>Duplizieren</span>
    </button>
  </mat-menu>
  <div class="dialog-split-header">
    <h2 mat-dialog-title>Dokument bearbeiten</h2>
    <button [matMenuTriggerFor]="menu"
            class="dialog-split-header__menu-btn"
            mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>
<h2 *ngIf="createMode" mat-dialog-title>Dokument anlegen</h2>
<mat-spinner *ngIf="!document" class="spinner-center" diameter="30"></mat-spinner>
<form #documentForm="ngForm"
      (keydown.enter)="save(document, documentForm)"
      (submit)="save(document, documentForm)"
      *ngIf="document !== undefined">
  <mat-dialog-content>

    <mat-form-field class="document-context-field">
      <mat-label>Kontext</mat-label>
      <mat-select [(value)]="document.context">
        <mat-option [value]="currentContext"
                    *ngFor="let currentContext of [document.context]"
                    [disabled]="true">
          {{currentContext.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="document-name-field">
      <mat-label>Dokumentenname</mat-label>
      <input [(ngModel)]="document.description"
             cdkFocusInitial
             matInput
             name="text"
             placeholder="Dokumentenname"
             inputmode="text"
             type="text"
             required
      >
    </mat-form-field>

    <document-designer [document]="document"></document-designer>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button *ngIf="!createMode"
            [class.button-spinner]="saving"
            [disabled]="saving || documentForm.invalid"
            mat-button
            type="submit">
      Speichern
    </button>
    <button *ngIf="createMode"
            [class.button-spinner]="saving"
            [disabled]="saving || documentForm.invalid"
            mat-button
            type="submit">
      Erstellen
    </button>
  </mat-dialog-actions>

</form>
