name: test
on:
  push:
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    environment:
      name: SemRel
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
