name: main
on:
  push:
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    environment:
      name: SemRel
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Semantic Release
        id: semantic
        uses: cycjimmy/semantic-release-action@v4
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DH_USERNAME }}
          password: ${{ secrets.DH_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.19.0
        with:
          java-version: 21
          java-distribution: 'temurin'

      - name: Set Maven Version
        if: steps.semantic.outputs.new_release_published == 'true'
        run: "mvn versions:set -DnewVersion=${{steps.semantic.outputs.new_release_version}}"

      - name: Maven Build
        if: steps.semantic.outputs.new_release_published == 'true'
        run: "mvn install -Djib.to.auth.username=${{ secrets.DH_USERNAME }} -Djib.to.auth.password=${{ secrets.DH_PASSWORD }} -P jib-build"

      - name: Build and push
        uses: docker/build-push-action@v6
        if: steps.semantic.outputs.new_release_published == 'true'
        with:
          context: koku-frontend
          push: true
          tags: domschmidt/koku-frontend:${{steps.semantic.outputs.new_release_version}}