@if (formularData(); as formularData) {
  <form class="flex flex-col w-full h-full m-auto overflow-auto"
        (submit)="$event.preventDefault(); submit()">

    @if (formularData.contentRoot; as contentRoot) {
      <div class="px-4 pt-4 pb-2 w-full h-full overflow-auto">
        <div
          container-renderer
          [content]="$any(contentRoot)"
          [fieldRegister]="fieldRegister()"
          [buttonRegister]="buttonRegister()"
          [containerRegister]="containerRegister()"
          [layoutRegister]="layoutRegister()"
          [loading]="sourceLoading()"
          [submitting]="submitting()"
          [contentSetup]="contentSetup()"
          [context]="context()"
          class="flex flex-col m-auto"
          [style.max-width]="maxWidth()"
          [buttonDockOutlet]="buttonDockOutlet()"
        ></div>
      </div>
    }

    <button type="submit" class="hidden"></button>

  </form>
}
