<mat-spinner *ngIf="!apiData" class="spinner-center" diameter="30"></mat-spinner>

<div class="content">
  <div class="content__title"
       *ngIf="apiData">
    {{apiData.title}}
  </div>
  <div class="content__chart">
    <ng-container *ngIf="apiData">
      <ng-container *ngIf="apiData.filters">
        <div class="filter">
          <form class="filter__form">
            <ng-container *ngFor="let currentFilter of apiData.filters">
              <div class="filter__form__item">
                <chart-year-month-field
                  [name]="currentFilter.queryParam || ''"
                  [label]="currentFilter.label"
                  [(ngModel)]="currentFilter.value"
                  (ngModelChange)="filterChanged()"
                ></chart-year-month-field>
              </div>
            </ng-container>
          </form>
        </div>
      </ng-container>
    </ng-container>

    <div class="chart-wrapper">
      <canvas #canvasEl></canvas>
    </div>


  </div>
</div>
